@import 'custom-bootstrap/_variables';

.hiddenInLink {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.size-indicator {
    background-color: red;
    color: white;
    position: fixed;
    right: 0px;
    bottom: 0px;
}

@media (min-width: $screen-sm) {
    .pb-form .sm-0padding-left {
        padding-left: 0px;

        select {
            border-left: 0px;
        }
    }

    .sm-0padding-right {
        padding-right: 0px;
    }
}

.pb-form {
    padding-bottom: 14px;

    form > .row {
        margin: 0px;
    }

    hr {
        border-color: $gray;
        margin: 18px 0px 9px;
    }

    .expanded-show, .expanded-show-block {
        display: none;
    }

    .expanded {
        .expanded-show {
            display: inline-block;
        }
        .expanded-show-block {
            display: block;
        }
        .expanded-hide {
            display: none;
        }
    }

    .title {
        cursor: pointer;
        margin-bottom: 0px;
        padding-left: 0px;

        -webkit-user-select: none; 
        -moz-user-select: none;    
        -ms-user-select: none;     
        -o-user-select: none;
        user-select: none;

        svg {
            width: 18px;
            height: 18px;
            position: relative;
            top: 2px;

            &:hover {
                fill: $navy;
            }
        }
    }

    .pb-form-content {
        background-color: #E6E1DB;
        margin-top: 24px;
        padding: 15px 30px;
    }

    .static {
        background-color: #E6E1DB;

        .static-show {
            display: block !important;
        }
        .static-hide {
            display: none !important;
        }

        .title {
            cursor: default;
            padding-left: 30px;
            padding-right: 30px;
        }

        .pb-form-content {
            margin-top: 0px;
        }
    }

    label {
        font-weight: bold;
        margin-bottom: 0px;
        color: $gray;
        display: block;
        white-space: nowrap;

        &.checkbox-lbl, &.radio-lbl {
            display: inline;
            font-weight: normal;
        }

        &.radio-lbl {
            margin-right: 12px;
        }
    }

    .contract-fare-filters label {
        font-weight: normal;
    }

    .help {
        cursor: pointer;
        display: inline-block;
        width: 20px;
        height: 14px;
        background: url("/content/~/media/Images/onSite/backgrounds/global.ashx") right center no-repeat;
        background-position: 0 -154px;
    }

    input[type=text], select {
        color: $navy;
        width: 100%;
        line-height: 34px;
        padding: 0px 0px 0px 8px;
        height: 36px;
    }

    .month select {
        border: none;
        width: auto;
    }

    .icon-calendar {
        background-color: white;
        position: absolute;
        top: 6px;
        right: 20px;
        fill: $gray-lighter;
        height: 24px;
        width: 24px;
    }

    button {
        width: 100%;
    }

    .IsOneWay .oneway-hidden {
        display: none;
    }

    label.multicity-radio {
        margin-right: 24px;
    }

    .award-show, .contract-fares-show, .contract-fare-filters, .contract-fares-show-sm, .contract-fares-show-md-award-show, .AS50-show {
        display: none;
    }

    .ContractFares {
        .contract-fares-show {
            display: block;
        }

        .contract-fares-hidden {
            display: none !important;
        }
    }

    .AS50 {
        .AS50-show {
            display: block;
        }
    }

    .IsMultiCity {
        .multicity-visible {
            display: block;
        }

        &.AwardTravel .award-show {
            display: block;
        }

        .multicity-hidden {
            display: none;
        }
    }

    .AwardTravel {
        .award-hidden {
            display: none;
        }

        .award-show {
            display: block;
        }

        .award-show-inline {
            display: inline-block;
        }
    }

    .multicity-visible, .multicity-visible.award-show {
        display: none;
    }

    input[type=text], select {
        border: 1px solid $gray-lighter;
    }

    .input-error {
        border-color: $error !important;
    }

    .error-container {
        ul {
            padding-left: 18px;
        }
    }

    .preferredCities {
        float: right;

        > a {
            cursor: pointer;
            padding: 0px 4px;
        }
    }

    .lineheight16 {
        line-height: 16px;
    }

    .lineheight8  {
        line-height: 8px;
    }
}

label.normal {
    font-weight: normal;
}

.umnr-frame, .unmr-background {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    > .container > div {
        margin-top: 68px;
        background-color: white;
        border-radius: 4px;
    }

    .continue-btn {
        margin-top: 12px;
    }
}

.modern-interstitial {
    background-color: white;
    position: fixed;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10000;

    > div {
        border: 1px solid black;
        width: 445px;
        height: 302px;
        z-index: 10000;
        text-align: center;
        margin: -151px 0 0 -224px;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    p {
        padding-top: 140px;
        margin-bottom: 12px;
    }
}

.unmr-background {
    background-color: silver;
    opacity: 0.5;
}

@media (min-width: 768px) {
    .pb-form {
        .icon-calendar {
            right: 7px;
        }       
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .ContractFares {
        .contract-fares-show-sm {
            display: block;
        }
    }
}

@media (min-width: 992px) {
    .ContractFares.AwardTravel {
        .contract-fares-show-md-award-show {
            display: block;
        }
    }
}
