@charset "utf-8";
/* CSS Document */

/*////////////////////////////////////////////////////////////////////////////////////// */
/* START AGA CUSTOM CSS */
/*////////////////////////////////////////////////////////////////////////////////////// */

/*////////////////////////////////////////////////////////////////////////////////////// */
/* AGA GENEARL STYLES */
/*////////////////////////////////////////////////////////////////////////////////////// */

.agaPadding {
	padding: 4px 0 10px 0;
	margin: 0 0 0 0;
}
.agaColor {
	color: #00245a;
}

ul.agaSpacing {
    padding: 0 0 0 15px;
}

ul.agaSpacing li {
    margin: 0 0 7px 0;
}

.agaSmallImgLeft {
	padding: 0 15px 0 0;	
}

.agaIndent {
	width: 95%;	
}




/*////////////////////////////////////////////////////////////////////////////////////// */
/* AGA LINKS STYLES - currently identical to Alaska's styles */
/*////////////////////////////////////////////////////////////////////////////////////// */

a.agaLink, a.agaLink:visited {
    color: #9A6220;
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: underline;
}
a.agaLink:focus, a.agaLink:hover {
    color: #4770A2;
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: underline;
}

/*////////////////////////////////////////////////////////////////////////////////////// */
/* AGA YES TEXT FORMATTED */
/*////////////////////////////////////////////////////////////////////////////////////// */

span.agaTextBlue {
	color: #4174AA;
	font-weight:bold;
}


/*////////////////////////////////////////////////////////////////////////////////////// */
/* FORMATTING BULLETED LIST */
/*////////////////////////////////////////////////////////////////////////////////////// */


ul.agaGreenList {
	list-style-image: url(/profiles/eurostar/themes/eurostar/base/img/bg-mondial-greenbullet.png);
	list-style-position: outside;
}