// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/text-color";
@import "bootstrap/buttons";
@import "bootstrap/forms";
@import "bootstrap/wells";
@import "bootstrap/panels";
@import "bootstrap/utilities";




//Grid
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;

}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	float: left;
}
.col-sm-1{width:8.33333%}.col-sm-2{width:16.66667%}.col-sm-3{width:25%}.col-sm-4{width:33.33333%}.col-sm-5{width:41.66667%}.col-sm-6{width:50%}.col-sm-7{width:58.33333%}.col-sm-8{width:66.66667%}.col-sm-9{width:75%}.col-sm-10{width:83.33333%}.col-sm-11{width:91.66667%}.col-sm-12{width:100%}.col-sm-pull-0{right:auto}.col-sm-pull-1{right:8.33333%}.col-sm-pull-2{right:16.66667%}.col-sm-pull-3{right:25%}.col-sm-pull-4{right:33.33333%}.col-sm-pull-5{right:41.66667%}.col-sm-pull-6{right:50%}.col-sm-pull-7{right:58.33333%}.col-sm-pull-8{right:66.66667%}.col-sm-pull-9{right:75%}.col-sm-pull-10{right:83.33333%}.col-sm-pull-11{right:91.66667%}.col-sm-pull-12{right:100%}.col-sm-push-0{left:auto}.col-sm-push-1{left:8.33333%}.col-sm-push-2{left:16.66667%}.col-sm-push-3{left:25%}.col-sm-push-4{left:33.33333%}.col-sm-push-5{left:41.66667%}.col-sm-push-6{left:50%}.col-sm-push-7{left:58.33333%}.col-sm-push-8{left:66.66667%}.col-sm-push-9{left:75%}.col-sm-push-10{left:83.33333%}.col-sm-push-11{left:91.66667%}.col-sm-push-12{left:100%}.col-sm-offset-0{margin-left:0%}.col-sm-offset-1{margin-left:8.33333%}.col-sm-offset-2{margin-left:16.66667%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-4{margin-left:33.33333%}.col-sm-offset-5{margin-left:41.66667%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-7{margin-left:58.33333%}.col-sm-offset-8{margin-left:66.66667%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-10{margin-left:83.33333%}.col-sm-offset-11{margin-left:91.66667%}.col-sm-offset-12{margin-left:100%}
//End Grid

//Default AS.com classes
.contentWrapNoSubNav {
	border: 1px solid #dcdcdc;
	border-top: 0;
	clear: both;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	background: $white;
}

//End default AS.com classes

//beyond campaign css
.beyond-campaign {
	font-family: Atlas, Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.72857;
	color: $gray;
	.col-sm-4 {width:30%}
	.col-sm-4.last {padding-right: 0;}
	.container {
		width: 972px;
		overflow: hidden;
	}
	.container .row {
		width: 100%;
		margin: 0 0 0 -15px;
	}
	.row p {
		padding: 0px 50px 0px;
		font-size: 16px;
	}
	.row-alt img {margin-bottom: -7px;}
	.row-alt .col-sm-8 div {
float: left;
padding: 0 15px 0 15px;
}
	h1, .h1 { font-size: 32px; }
	h2, .h2 { font-size: 28px; }
	h3, .h3 { font-size: 24px; }
	h4, .h4 { font-size: 18px; }
	h5, .h5 { font-size: 14px; }
	h6, .h6 { font-size: 12px; }
	p.lead {font-size: 23px;margin-bottom: 1em;}
	.headlines {color:$navy;font-family: Atlas, Arial, 'Helvetica Neue', Helvetica, sans-serif;}

	h1, h2, h3, h4, h5, h6 {
		@extend .headlines;
	}
	h4 {margin-bottom:0 }
	.col-sm-12 h3,.col-sm-12 h2, .col-sm-12 a.btn, .col-sm-12 h1 {text-align: center}
	a.btn {text-decoration: none; color: $white}

// Perfect circle
.img-circle {
border-radius: 50%; // set radius in percents
}
img.full-screen {
	margin-bottom: 40px;
}

.panel-cream {
	min-height: 175px;
	margin-bottom: 70px;
}


.anchor {
position: relative;
top: -45px;
}




//#nav {
	/*width: 100%;*/
//               margin-bottom: 3em;
//              background-color: #f4f4f4 !important;
//             color: $gray;
//}
.nav {padding: 0}
.nav li{float: left; list-style: none; padding: 15px 76px; border-right: 1px solid #ccc;}
div#nav {
	background-color: #eee;
	display: block;
	height: 44px;
	min-width: 972px;
	z-index: 9999;
	margin-bottom: 40px;
	border-bottom: 1px solid #ccc;
}
.nav li a {text-decoration: none; color: $gray;	font-family: Atlas, Arial, 'Helvetica Neue', Helvetica, sans-serif; font-weight:bold;text-transform: uppercase;}

.nav li a:hover {text-decoration: none; color: $navy;}
.affix {top: 0px;}

.nav li.last {border-right: 0px solid;}

img#beyondMainImage {
	display: block;
	margin-bottom: -18px;
}


hr {
	width: 70%;
}


p a, p a:visited {color:$navy; font-family: Atlas, Arial, 'Helvetica Neue', Helvetica, sans-serif;}
p a:focus, p a:hover {color:#030810;}









}//End Beyond Campaign


