

/**** FOR WIDE BUBBLE ******/
.wide-hoverBubble {
    
    position:absolute;
    top:0px; left:10px;
	padding:15px 0 0 0;
	width:500px;
	color:black;
    text-align:left;
	text-decoration:none;	
}

.wide-hoverBubble-top {
	
	padding:30px 8px 0;
    background:url(/images/bubble/wide/wide-bubble_toparrow.gif) no-repeat top;
}

.wide-hoverBubble-middle { /* middle bg for stretch */
	
	padding:0 8px; 
	background:url(/images/bubble/wide/wide-bubble_filler.gif) repeat bottom; 
}

.wide-hoverBubble-bottom {
	
	padding:3px 8px 10px;
	color:white;
    background:url(/images/bubble/wide/wide-bubble_toparrow.gif) no-repeat bottom;
}

.wide-hoverBubble-top-inverted {
	padding:3px 8px 10px;
	color:white;	
    background:url(/images/bubble/wide/wide-bubble_btmarrow.gif) no-repeat top;	
}

.wide-hoverBubble-bottom-inverted {	
	padding:30px 8px 0;	
    background:url(/images/bubble/wide/wide-bubble_btmarrow.gif) no-repeat bottom;
}

#bubble-accessibility {position:absolute; left:0px; top:-500px; width:1px; height:1px; overflow:hidden;}


/******** FOR NARROW BUBBLE ******/
.narrow-hoverBubble {
    
    position:absolute;
    top:0px; left:10px;
	padding:15px 0 0 0;
	width:200px;
	color:black;
    text-align:left;
	text-decoration:none;		
}

.narrow-hoverBubble-top {
	
	padding:30px 8px 0;
    background:url(/images/bubble/narrow/narrow-bubble_toparrow.gif) no-repeat top;
}

.narrow-hoverBubble-middle { /* middle bg for stretch */	
	padding:0 8px; 
	background:url(/images/bubble/narrow/bubble_filler.gif) repeat bottom; 
}

.narrow-hoverBubble-bottom {
	
	padding:3px 8px 10px;
	color:white;
    background:url(/images/bubble/narrow/narrow-bubble_toparrow.gif) no-repeat bottom;
}

.narrow-hoverBubble-top-inverted {    
	padding:8px 8px 0px;
	color:white;	
    background:url(/images/bubble/narrow/wide-bubble_btmarrow.gif) no-repeat top;
}

.narrow-hoverBubble-bottom-inverted {	
	padding:30px 8px 0;	
    background:url(/images/bubble/narrow/wide-bubble_btmarrow.gif) no-repeat bottom;
}