.containerx {
    .FeeBoxWrap {-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; background:white; border:3px solid #00567e; }
    .Hide {display:none;}
    .Visible {display:block;}
    .TextRC201
    {
        float: left;
        width: 150px;
        text-align: Left;
    }
    .PriceRC201
    {
        float:left;
        text-align: Right;
        width:70px;
    }

    .flightstable {
        th {
    	    font-size:1.17em;
    	    color:#00245A;
        }

        td {
    	    padding-top:5px;
        }

        img {
    	    vertical-align:middle;
        }

        .schedule-change-divider {
            border-bottom: 1px solid #DCDCDC;
            padding-bottom: 5px;
        }
        .schedule-change-padding {
            padding-top: 10px;
        }
    }

    .rentalDescription
    {
        margin: 5px 0px 10px 0px;
    }

    .totalPriceDiv {width:230px;float:left;}
    .totalPriceDiv .rowDiv {padding-top:5px;}

    #confirmationCode, #manageReservationLinks, #printOrShare { margin-right: 20px }
    #confirmationCode, #manageReservationLinks { float: left }
    #printOrShare { float: right }
	
    .boaFCMPOffer #confirmationCode, .boaFCMPOffer #manageReservationLinks { margin-right: 10px }
    .boaFCMPOffer #printOrShare {	margin-right: 0 }
    .cart.boaFCMPOfferContainer { position: absolute; width: 540px; height: 84px }
    .cart .boaFCOfferContentContainer { position: absolute }
    .payment .boaFCOfferContentContainer { height: 90px }
    .comfirmation.boaFCMPOfferContainer { float: left; height: 90px; width: 230px }

    .boaFCMPOfferContainer .fcRow1, .boaFCMPOfferContainer .fcRow2, .boaFCMPOfferContainer .fcRow3,
    .boafcconfirmation .fcRow1, .boafcconfirmation .fcRow2, .boafcconfirmation .fcRow3 { font-weight: bold; color: #003 }
    .boaFCMPOfferContainer .fcRow2, .boafcconfirmation .fcRow2  { color: #030 }
    .boafcconfirmation .fcRowText, .boaFCMPOfferContainer .fcRowText { text-align: right }
    .boafcconfirmation .fcRowText { width: 65px }
    .boaFCMPOfferContainer .fcRowText { width: 60px }

    .cart .fcRow1 { padding: 6px 88px 0px 392px }
    .cart .fcRow2 { padding: 1px 88px 0px 392px }
    .cart .fcRow3 { padding: 5px 88px 0px 392px }

    .payment .fcRow1 { padding: 10px 124px 0px 732px }
    .payment .fcRow2 { padding: 3px 124px 0px 732px }
    .payment .fcRow3 { padding: 4px 124px 0px 732px }

    .boafcconfirmation .fcRow1 { padding: 123px 122px 0px 804px }
    .boafcconfirmation .fcRow2 { padding: 12px 122px 0px 804px }
    .boafcconfirmation .fcRow3 { padding: 16px 122px 0px 804px }

    #divExpressCheckout
    {
	    display: inline-block;
	    padding: 15px;
	    border-radius: 5px;
	    -moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    border: 1px solid #dcdcdc;
	    background: #eaedf9; /* Old browsers */
	    background: -moz-linear-gradient(top,  #eaedf9 0%, #ffffff 100%); /* FF3.6+ */
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaedf9), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	    background: -webkit-linear-gradient(top,  #eaedf9 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	    background: -o-linear-gradient(top,  #eaedf9 0%,#ffffff 100%); /* Opera 11.10+ */
	    background: -ms-linear-gradient(top,  #eaedf9 0%,#ffffff 100%); /* IE10+ */
	    background: linear-gradient(to bottom,  #eaedf9 0%,#ffffff 100%); /* W3C */
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaedf9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }

    .forgotLink
    {
	    float: right;
	    font-size: .9em;
    }

    #checkoutContainer.signInAlign
    {
	    margin-top: 75px;
    }

    #divExpressCheckout {
	    margin-left:10px;
	    width:500px;
    }
		
    #divExpressCheckout label {
	    display: inline-block;
	    padding-right: 8px;
	    padding-top: 3px;
	    text-align: right;
	    width: 100px;
	    font-weight: normal;
    }
    #divExpressCheckout select {
	    width: 300px;
    }
		
    #divOr {
	    display:inline-block;
	    margin:10px 30px 0 0;
    }
		
    #expressCheckoutIcon
    {
	    float: left;
	    margin-right: 15px;
    }
		
    #expressCheckoutHeader
    {
	    margin-top: 10px;
    }
    
    #termsAgreement
    {
        font-weight: bold;
        margin: 10px 10px 0 0;
    }       

    .schedule-change-actions-container
    {
        text-align: right;

        .schedule-change-quit-button
        {
            display: inline-block;
            float: none;
        }
    }
}