.containerx {
    /* layout */
    #leftcontainer{float:left; width:204px;}

    #cgcontent {float:left; margin-left:5px; width:669px;}
    #cgbanner {background-repeat:no-repeat; height:175px; font-size:1.5em; color:White;margin-bottom:1px; padding:1px 0 0 7px;}
		
    #cgsubnav{border:1px solid #82A3D1; height:24px;margin-bottom:5px; background:url("/content/~/media/Images/onSite/backgrounds/city_guides_subnav_bg.ashx");}
    #cgsubnav a{color:#01194C;display:block;font-weight:bold;float:left;border-right:1px solid #82A3D1;padding:5px 10px 0 10px;text-align:center;height:19px;text-decoration:none;}
    #cgsubnav a:hover, #cgsubnav .active {background:url("/content/~/media/Images/onSite/backgrounds/city_guides_subnav_bg.ashx") 0 -27px;}
    #cgsubnav a:hover{text-decoration:underline;}
    #cgsubnav .active{color:#510000;}
		
    #cgdynamic{border:1px solid #82A3D1; float:left;min-height:250px;padding:10px;width:420px;}
    #cgformlets{float:right;width:220px;}
		
    /*left nav*/
    #cgnavcontainer {background-color:#FDFDFD; border:1px solid #DEDFE4;border-top:0;}
    #cgnavcontainer a{color:#4770A2;}
    .cglink, .cglink:visited, .cglinkselected{display:block;padding:2px 0 2px 25px;text-decoration:none;}
    .cglink:hover{text-decoration:underline;}
    .cglinkselected, .cglinkselected:visited{background-color:#E2EEFF;color:#00245A !important; font-weight:bold;text-decoration:none;}
    .cglinkheaderbox {border-top:1px solid #DEDFE4;font-weight:bold; background: url(/content/~/media/Images/onSite/backgrounds/global-repeat.ashx) repeat-x 0 -228px; padding:5px 0 5px 10px;}
    .cglinkheader{color:#00245A; cursor:pointer; font-weight:bold; padding-left:15px;}
    .cglinkright{background: url("/content/~/media/Images/onSite/buttons/BlueTriangleRight.ashx") no-repeat left center;}
    .cglinkdown{background: url("/content/~/media/Images/onSite/buttons/BlueTriangleDown.ashx") no-repeat left center;}

    /*formlets*/
    .fheader, fopen {background: url("/content/~/media/Images/onSite/buttons/city_guides_slider-buttons-new.ashx");}
    .fheader{color:#00245a;height:22px; border-radius:9px;margin-top:7px;padding: 8px 0 0 30px;font-weight:bold;font-size:1.25em;cursor:pointer;}
    .fopen {background-position: 0 -30px; border-radius:5px 5px 0 0;}
    .fcontainer{border:1px solid #afcfff; border-top:0;}
    #f0{margin-top:0;}
    #f0 a, #f1 a, #f2 a, #f3 a, #f4 a {text-decoration:none;}
		
    #flightsformlet, #vacformlet{padding:10px 0 0 5px;}
    #flightsFormletIframe{height:532px;}
    #weatherformlet{height:290px;padding:20px 0 0 15px;}

    .formletloading{height:200px;background:url('/content/~/media/images/onsite/backgrounds/ajax-loader-2.ashx') no-repeat center center}

    /*airport guide styles*/
    .agtitle {font-weight:bold;}
    #agprintlink{background:url("/content/~/media/images/onsite/icons/icon-print.ashx") no-repeat; padding:3px 0 0 30px; float:right;}
    #agmapsmall{cursor:pointer;width:100%;}

    /*attractions styles*/
    .attraction-item-indent{margin-left:10px}
    .attraction-title {background:url("/content/~/media/Images/onSite/buttons/BlueTriangleRight.ashx") no-repeat center left; margin-bottom:0.6em; padding-left:10px;}
    .attraction-detail{margin:0 0 1.5em 10px;}
    .attraction-expanded {background-image:url("/content/~/media/Images/onSite/buttons/BlueTriangleDown.ashx");}
    .attraction-section {margin-bottom: 2em;}

    /*event styles*/
    #event-keyword{width:100px;}
    #event-search-button{float:none; width:43px;}
    #event-cal{float:left;width:220px;}
    #event-search{float:left;margin-left:10px;width:190px;}
    #events-tabs-box{border:1px solid #4770a2; height:33px;}
    .events-day, .events-selected-day {float:left; text-align:center; width:52px;}
    .events-selected-day {background:#CFD7B4;}
    .event-date-arrow{height:33px;width:26px;}

    /*restaurant styles*/
    #restaurant-search-button{float:none; width:30px;}
    #restaurant-keyword-search {float:left; margin:0; width:207px;}
    #restaurant-cuisine-search{float:right; margin:0; text-align:center; width:180px;}
    #restaurant-neighborhood-search{clear:both; text-align:center; width:200px; margin:0 auto;}
    #restaurant-or{float:left; font-weight:bold; padding-top:22px; text-align:center;width:30px;}
    .restaurant-fieldset{padding:5px; height:45px;}
    .restaurant-fieldset select{margin-top:5px;}
    .rest-single{float:left;width:210px;}

    /* Restaurants & Events Common Styles */
    .event-result, .rest-result{border-bottom:2px solid #e4e3d3; padding-bottom: 7px; margin-bottom:7px;}
    .paging{margin:10px 0;}
    .paging-prev{font-weight:bold;float:left;width:90px;}
    .paging-show{float:left;text-align:center;width:230px;}
    .paging-next{font-weight:bold;float:left;text-align:right;width:95px;}
    .cgfake-link{color:#0e2b51;cursor:pointer;display:inline;text-decoration:underline;}
    .cgfake-link:hover{color:#00567e;}
    #Types, #Neighborhoods {width:150px;}
}