.containerx .CurrencyLabel
{
    width: 71px;
    display: inline-block;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
    margin-top: 4px;
    margin-right: 4px;
}

.containerx .CurrencyField
{
    display: inline-block;
    font-weight: normal;
}

.containerx .CurrencyElement
{
    margin: 8px;
}

.containerx .SpanLable
{
    font-weight: bold;
    cursor: pointer;
}

.containerx #SubmitCurrencyConversion
{
	float: none;
}

.containerx #SubmitCurrencyConversion.btn
{
	margin-top: 5px;
}

.containerx #CurrencyFooter
{
    text-align: center;
}

.containerx #ConversionResults
{
    font-weight: bold;
    font-size: 1.3em;
    margin: 20px 0px 10px 0px;
}

.containerx #CurrencyConverterLoading
{
	text-align: center;
}
