@import "./custom-bootstrap/variables";
.mobilenav .mobile-cart-count {bottom: 0px}
.container, .jumbotron .container {
	max-width: $screen-md - $grid-gutter-width;
}
//puts drop down directly under sign in
.navbar-right .navbar-greeting-popup {
	left: -100px !important
}
//fixes issue with old nav
.containerx .nav {
	margin-top: -8px;	
	padding-top: 0px;

	&.jennTabCopy {
		margin-top: 12px;
	}
}
//Featurette hr was extending past container
.featurette {overflow: hidden}
//Hawaii Ad background image
.destination-hawaii {background-image: center center}


//one way and use miles were going to multiple lines
#flightTypeOptions {width:100px}
#useMilesOption {width:100px;}

.oldIE.icon-shop-share {position: relative;top:10px;}


// The brand refresh css file has label's set as display:inline-block which is not supported by IE8

//fixes alignment of round trip and oneway on the vertical booking forms
#divVWidget #roundTriplabel {display: inline}
#divVWidget #oneWaylabel {display: inline}
.containerx #flightsformlet, .containerx #vacformlet {
  overflow: hidden;
}
//fixes alignment of radio buttons
.containerx label, .containerx label.radiolabel {display: inline}


//Resizes Icons
.social-icons img{ width:24px; height: 24px;}
.mobile-cart img{ width:24px; height: 24px;}
.homelet img{ display: none;}

.footer-products img{ width:64px; height: 64px;}
.featurette img{ display: none;}

// Get this, the password field shows white text when input font-family is "inherit"
// Thank you, IE8
input[type="password"] { font-family: Arial; }

svg[class^="icon-"], svg[class*=" icon-"] {
    display: none
}

.icon-fallback { display: inline !important }