.containerx {
    .ClearLeft
    {
	    clear:left;
    }

    h2 
    {
	    margin-top:0px;
    }

    .Bold
    {
	    font-weight: bold;
    }

    .Padded
    {
	    padding-top:10px;
	    padding-bottom:10px;
    }

    .impersonation-summary {
        margin-bottom: 36px;
    }

    .MyAccountActivitySelectedTab 
    {
	    background:url('https://www.alaskaair.com/images/myaccount_tab_S.png') no-repeat; 
	    border:1px solid #9fb069;
	    border-bottom:none; 
	    float:left; 
	    width:113px; 
	    height:17px; 
	    text-align:center; 
	    font-weight:bold;
	    color:Black;
	    padding-top:4px; 
	    margin:10px 4px 0px 0px;
	    cursor:pointer;
    }

    .MyAccountActivityTab 
    {
	    float:left; 
	    width:113px; 
	    height:17px; 
	    background:url('https://www.alaskaair.com/images/myaccount_tab_U.png') no-repeat; 
	    border:1px solid #82a3d1; 
	    border-bottom:none; 
	    text-align:center; 
	    padding-top:4px; 
	    margin:10px 4px 0px 0px;
	    text-decoration:none; 
	    color:#000;
	    cursor:pointer;	
    }
    .SelectedTab
    {
	    background:url('https://www.alaskaair.com/images/myaccount_tab_S.png') no-repeat; 
	    border:1px solid #9fb069;
	    border-bottom:none; 
	    float:left; 
	    width:113px; 
	    height:17px; 
	    text-align:center; 
	    font-weight:bold;
	    color:Black;
	    padding-top:4px; 
	    margin:10px 4px 0px 0px;
	    cursor:pointer;
    }
    .UnselectedTab 
    {
	    float:left; 
	    width:113px; 
	    height:17px; 
	    background:url('https://www.alaskaair.com/images/myaccount_tab_U.png') no-repeat; 
	    border:1px solid #82a3d1; 
	    border-bottom:none; 
	    text-align:center; 
	    padding-top:4px; 
	    margin:10px 4px 0px 0px;
	    text-decoration:none; 
	    color:#000;
	    cursor:pointer;	
    }

    .MyAccountActivitySelectedTabWide
    {
	    background:url('https://www.alaskaair.com/images/mywallet_tab_S_ezb.jpg') no-repeat; 
	    border:1px solid #9fb069;
	    border-bottom:none; 
	    float:left; 
	    width:155px; 
	    height:17px; 
	    text-align:center; 
	    font-weight:bold;
	    color:Black;
	    padding-top:4px; 
	    margin:10px 4px 0px 0px;
	    cursor:pointer;
    }

    .MyAccountActivityTabWide
    {
	    float:left; 
	    width:155px; 
	    height:17px; 
	    background:url('https://www.alaskaair.com/images/mywallet_tab_U_ezb.jpg') no-repeat; 
	    border:1px solid #82a3d1; 
	    border-bottom:none; 
	    text-align:center; 
	    padding-top:4px; 
	    margin:10px 4px 0px 0px;
	    text-decoration:none; 
	    color:#000;
	    cursor:pointer;	
    }

    .boxtop 
    {
	    clear:both; 
	    width:819px; 
	    background:#cfd7b4; 
	    display:block; 
	    height:1px; 
	    border-left:1px solid #9fb069;
	    border-right:1px solid #9fb069;
    }	
    .viewpnr-boxtop 
    {
	    clear:both; 
	    width:769px; 	
	    background:#cfd7b4; 
	    display:block; 
	    height:1px; 
	    border-left:1px solid #9fb069;
	    border-right:1px solid #9fb069;
    }
    .boxtop-border
    {
	    height:1px; 
	    background:#9fb069;
    }

    .tab-select-indicator 
    {
	    clear:both; 
	    width:820px;
	    background:#cfd7b4;  
	    height:7px; 
	    border-color: #9fb069; 
	    border-style: none;
	    border-width: 1px;
	    border-bottom:none; 
	    border-top:none; 
	    display:block;
    }	
    .viewpnr-tab-select-indicator 
    {
	    clear:both; 
	    width:770px;
	    _width:771px;  
	    background:#cfd7b4;  
	    height:7px; 
	    border-color: #9fb069; 
	    border-style: none;
	    border-width: 1px;
	    border-bottom:none; 
	    border-top:none; 
	    display:block;
    }
    .MultiViewContentPanel
     {
	    float:left;
	    margin:0; 
	    background:#fff; 
	    border:1px solid #9fb069;
	    border-top:none; 
	    width:820px; 
	    min-height:300px;
    }
    .MultiViewContentTabPanel
     {
	    margin:0; 
	    background:url('https://www.alaskaair.com/images/viewpnr_tabbedselect_gradient.jpg') no-repeat; 
	    border:1px solid #9fb069;
	    border-top:none; 
	    width:770px; 
	    min-height:270px;
    }
    .MyAccountContent
    {
	    padding-top:10px;
	    padding-left:10px;
	    padding-right:10px;
	    padding-bottom:10px;
	
    }
    .MyUpsellContent
    {
	    padding-top:10px;
	    padding-left:10px;
	    padding-right:10px;
	    padding-bottom:10px;
	    width:750px;
	    _width:720px;	
    }
    .frame
    {
	    width: 750px;
	    height: 530px;
	    border-style: none;
    }

    tr.MyTripsPagingRow td
    {
	    padding-top:0px;
	    padding-bottom:1px;
	    padding-right:0px;
	    padding-left:0px;
	    border-style:none;
	    background-color:white;
	    font-weight:bold;
    }

    tr.MyWalletPagingRow td
    {
	    padding-top:0px;
	    padding-bottom:1px;
	    padding-right:0px;
	    padding-left:0px;
	    border-style:none;
	    background-color:white;
	    font-weight:bold;
    }

    tr.MyMileageActivityPagingRow td
    {
	    padding-top:0px;
	    padding-bottom:1px;
	    padding-right:0px;
	    padding-left:0px;
	    border-style:none;
	    background-color:white;
	    font-weight:bold;
    }

    .MyTripsReservationTypeSelected
    {
	    font-weight: bold;
    }

    tr.NoDataStored td
    {
	    border-style:none;
	    background-color:white;
	    padding-left:0px;
	    float:left;
    }

    tr.NoGiftDataStored td
    {
	    border-style:none;
	    background-color:white;
	    padding-left:0px;
	    float:left;
	    margin-left:-5px;
	    margin-top:-10px;
    }

    tr.MyTripsRow td
    {
	    height:22px; /*IE pays attention to this*/
    }

    .MyTripsRow
    {
	    height:33px; /*Firefox pays attention to this*/
    }

    .MyWalletWithdrawalAmount
    {
        color: #ff0000;
    }

    .greyDivider
    {
	    width:675px; 
	    border-bottom:1px solid #dcdcdc; 
	    margin-top: 10px;
	    margin-bottom: 20px;
    }

    .greyDividerTabbed
    {
	    width:655px; 
	    border-bottom:1px solid #dcdcdc;
	    margin-top: 10px;
	    margin-bottom: 20px;
    }

    .sideNavLinkContainer
    {
        list-style: none;
        margin-left: 0;
    }

    .sideNavLink 
    {
	    width:204px; 
	    margin-bottom:7px; 
	    border-bottom:1px solid #DCDCDC; 
	    padding-bottom:4px; 
	    font-weight:normal; 
	    color:#0e2b51; 
	    text-decoration:none;
	    cursor:pointer;

        a {
            text-decoration:none;
        }
    }

    .sideNavLink:hover
    {
	    text-decoration:underline;
    }

    .dropdown-container
    {
    	margin-top: 10px;
    	font-size: 13px;

    	select
    	{
    		display: block;
    		margin-bottom: 3px;
    		width: 270px;
    	}
    }

    .input-container
    {
        margin: 0 0 25px;
    }

    .contact-preference-container {
        margin: 0 0 10px 15px;
    }

    .contact-preference-option {
        margin-bottom: 15px;
    }

    .field-validation-error {
        display: block;
    }

    .contact-method
    {
        margin-bottom: 10px;
    }

    .myAccountHeading	 
    {  
	    font-size: 1.5em; 
	    font-weight: bold; 
	    color: #00245A;  
	    font-family: Arial, Helvetica, sans-serif; 
	    margin-bottom:.83em; 
	    margin-top:.83em;
    }

    /* My Info styles */
    .myinfocenter
    {
	    float:left;
	    margin:15px 15px 0px 0px;
	    width:675px;
    }

	    /*content*/
    .myinfocontent 
    {
	    border:1px solid #DCDCDC;
	    border-top:0;
	    border-radius:0 0 5px 5px;
	    padding:10px;
    }
		
       /*main subnav*/
    .myinfosubnavbg 
    {
	    background: url("/content/~/media/Images/onSite/backgrounds/tab_bg_short_border.ashx") repeat-x;
	    border:1px solid #DCDCDC;
	    border-radius:5px 5px 0 0;
	    border-bottom:0;
	    border-top:0; 
	    height:36px;
    }

    .myinfosubnav 
    {
	    float:left; 
	    height:0;
	    position:relative; 
	    top:-36px; 
	    z-index:2;
	    
	    ul.myinfoallsubnav {
	        margin: 0px;
	        list-style-type: none;
	        margin: 0px;
	        padding: 0px;
	    }

	    li.linksProfileMyInfoEmailSubscriptions {
	        display: inline;
	        margin: 0px;
	        padding: 0px;
	    }

	    a 
	    {
		    border-right:1px solid #DCDCDC; 
		    color:#424242;
		    display:block;
		    float:left;
		    font-size:1.225em;
		    font-weight:bold;
		    height:36px;
		    line-height:36px;
		    text-align:center;
		    text-decoration:none;
		    width:118px; 
		    _width:117px;
	    }

	    .last 
	    {
		    width:117px; 
		    border-right:0;
	    }

	    .active 
	    {
		    background:white;
		    color:#00245A;
		    border:1px solid #DCDCDC;
		    border-bottom:0;
		    border-radius:5px 5px 0 0;
		    margin-top:-15px;
		    padding-top:14px;
	    }
    }

    .myinfoallsubnav a
    {
	    width:90px;
    }

    .myinfoallsubnav .last
    {
	    width:91px;
    }

    .secondary-text
    {
        font-weight: normal;        
    }

    #t-and-cs li
    {
        margin: 7px 0;
    }

    .sidebar-selected 
    {
        font-weight: bold;        
    }
}