
/*JAVASCRIPT Popuup styles styles. Goes with popup.js. Do not confuse with popups.css */
#popupBox .t {background:url(/images/popup/pop-top.png);}
#popupBox .r {background:url(/images/popup/pop-right.png);}
#popupBox .b {background:url(/images/popup/pop-bottom.png);}
#popupBox .l {background:url(/images/popup/pop-left.png);}
#popupBox .tl {background:url(/images/popup/pop-tl.png);}
#popupBox .tr {background:url(/images/popup/pop-tr.png);}
#popupBox .bl {background:url(/images/popup/pop-bl.png);}
#popupBox .br {background:url(/images/popup/pop-br.png);}

#popupBox {    
  text-align: left;
}

#popupBox .popup {
  
}

#popupBox table {  
  border-collapse: collapse;
}

#popupBox .body {
  padding: 10px;
  background: #fff;
}

#popupBox .loading {
  text-align: center;
}

#popupBox .image {
  text-align: center;
}

#popupBox img {
  border: 0;
}

#popupBox .footer {
  text-align: right;
}

#popupBox .tl, #popupBox .tr, #popupBox .bl, #popupBox .br {
  height: 26px;
  width: 26px;
  overflow: hidden;
  padding: 0;
}	