div#priority_tabs {
    height: 50px;
    margin-left: 0;
    -moz-border-radius:5px; 
    -webkit-border-radius:5px; 
    border-radius:5px; 
}

div#priority_tabs .link 
{
    background: url("http://www.alaskaair.com/content/~/media/Images/onSite/backgrounds/inactive_tab.ashx") repeat-x scroll left bottom transparent;
    border: 1px solid #DCDCDC;
    float: left;
    height: 30px;
    font: 14px Arial, Helvetica, sans-serif;
    color: #424242;
    margin-top: 10px;
    padding-top: 10px;
}


div#priority_tabs .selected 
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #424242; 
    background: none repeat scroll 0 0 white;
    border: 1px solid #DCDCDC;
    border-bottom: none;
    height: 36px;
    float: left;
    padding-top: 15px;
    
}

div#priority_tabs .upgrades 
{
    width: 213px;
    text-align:center;
}

div#priority_tabs .awaiting 
{
    width: 180px;
    text-align:center;
}

.buttonRefresh {
    background: url("http://www.alaskaair.com/content/~/media/Images/onSite/backgrounds/inactive_tab.ashx") repeat-x scroll left bottom transparent;
    border: 1px solid #DCDCDC;
    height: 25px;
    font:bold 14px Arial, Helvetica, sans-serif;
    -moz-border-radius:5px; 
    -webkit-border-radius:5px; 
    border-radius:5px; 
    margin-top:5px;
    text-align:center; 
    cursor:pointer;
    color: #00245A;
    float:left;
    width: 90px;
    margin-bottom:10px;
}

#buttonRefresh a   
{ 
        text-decoration:none; 
        color: #00245A;
}


#SeatStatus
{
    border: 1px solid #DCDCDC;
    padding-top: 10px;
}

.SeatStatus-noborder
{
    padding-top: 10px;
}

#SeatStatus, .SeatStatus-noborder  table
{
    width: 129px;
    border: 1px solid white;
    float:left;
    
}

#SeatStatus, .SeatStatus-noborder th
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #424242;
    height:24px;
    vertical-align:middle;
}

#SeatStatus, .SeatStatus-noborder td
{
    font: normal 12px Arial, Helvetica, sans-serif;
    color: #424242;
    border:none;
    padding: 3px 0 3px 0;
}

#SeatStatus, .SeatStatus-noborder defaultBackground
{
    background-color: #FFFFFF;
}

#SeatStatus,.SeatStatus-noborder altBackground1
{
    background-color: #EDEDED;
}

#SeatStatus,.SeatStatus-noborder altBackground2
{
    background-color: #E2E1E1;
}

.Exception
{
        width: 300px;
        height:100px;
        margin-top:20px;
        margin-left:20px;
}

.Advisory
{
        width: 300px;
        height:100px;
        margin-top:20px;
        margin-left:50px;
        text-align:center;
        font: normal 14px Arial, Helvetica, sans-serif;
    color: #424242;
}