HTML
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
}
DIV
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left;
}
BODY
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BACKGROUND: white;
    PADDING-BOTTOM: 0px;
    MARGIN: 14px 0px 0px 14px;
    PADDING-TOP: 0px;
}
BODY.popup
{
	margin-right: 14px;
}

#Main-Menu
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 7px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    HEIGHT: 26px;
}
#Site-Wrapper
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 11px;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    WIDTH: 760px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
#My-Account-btn
{
    BORDER-RIGHT: #81b0d1 1px solid;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #81b0d1 1px solid;
    PADDING-LEFT: 4px;
    BACKGROUND: #d8e6f1;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #81b0d1 1px solid;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #81b0d1 1px solid;
}
#Header
{
    PADDING-LEFT: 3px;
    FLOAT: none;
    PADDING-BOTTOM: 8px;
    POSITION: relative;
}
#Header #Header-logo
{
    FLOAT: left;
}
#Header #Header-userinfo
{
    FLOAT: right;
}
#Header #Header-userinfo #Signin
{
    TEXT-ALIGN: right;
}
#Header #Header-userinfo #Links
{
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 3px;
    TEXT-ALIGN: right;
}
#Header #Header-userinfo #Spanish
{
	TEXT-ALIGN: right;
}
#Header #Header-userinfo #SpanishSignin
{
    TEXT-ALIGN: right;
    DISPLAY: inline;
}
#Header #Header-userinfo #SpanishLinks
{
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 3px;
    TEXT-ALIGN: right;
}
#Advisories
{
    CLEAR: both;
    WIDTH: 760px;
    COLOR: #cc6600;
}

#Advisories P
{
    PADDING-BOTTOM: 16px;
    PADDING-TOP: 7px;
}

#subnav
{
    PADDING-BOTTOM: 14px;
    MARGIN: 0px;
    TEXT-ALIGN: center;
}
#breadcrumb
{
	text-align:left;
	padding-left: 16px;
    PADDING-BOTTOM: 14px;
    MARGIN: 0px;
}
#breadcrumb a, a:visited, a:hover, a:active
{
	color:#000099;
}
#breadcrumb b
{
	color:#8f8f8f;
}
TD
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
#Main-Menu
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    Z-INDEX: 4;
    BACKGROUND-IMAGE: url(/images/menu_BG_fill.gif);
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 760px;
    PADDING-TOP: 0px;
    BACKGROUND-REPEAT: repeat;
    POSITION: relative;
    HEIGHT: 26px;
}
#Main-Menu #NavBar
{
    FLOAT: left;
}
#Main-Menu #NavBar DIV
{
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    HEIGHT: 25px;
}
#Main-Menu DIV BR
{
    CLEAR: both;
    FLOAT: none;
}
#Main-Menu DIV A
{
    PADDING-RIGHT: 0px;
    DISPLAY: block;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: 700;
    FONT-SIZE: 11px;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    COLOR: #ffffff;
    LINE-HEIGHT: 2em;
    PADDING-TOP: 0px;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
}
#Main-Menu SPAN
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BACKGROUND: #81b0d1;
    VISIBILITY: hidden;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 20px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none;
    POSITION: absolute;
    TOP: 24px;
}
#Main-Menu SPAN P
{
    DISPLAY: block;
    BACKGROUND: #ccd6e0;
    MARGIN: 0px;
    WHITE-SPACE: nowrap;
    LIST-STYLE-TYPE: none;
}
#Main-Menu SPAN P A
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: 500;
    FONT-SIZE: 14px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 17.5em;
    COLOR: #ffffff;
    LINE-HEIGHT: 17px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    BACKGROUND-COLOR: #81b0d1;
    TEXT-DECORATION: none;
}
#Main-Menu SPAN P A:hover
{
    BACKGROUND: #00287a;
    COLOR: #ffffff;
}
#Main-Menu .highlight
{
    BACKGROUND: #81b0d1;
}
#Main-Menu .highlight SPAN
{
    DISPLAY: block;
    Z-INDEX: 10;
    VISIBILITY: visible;
}
P
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
}
.lftcol
{
    PADDING-RIGHT: 8px;
    WIDTH: 128px;
    TEXT-ALIGN: left;
}
DIV.lftnav
{
    BACKGROUND-COLOR: #81b0d1;
}
.nav1:link
{
    BORDER-RIGHT: #a1a1a1 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #efefef 1px solid;
    DISPLAY: block;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #a1a1a1 1px solid;
    COLOR: #ffffff;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #a1a1a1 1px solid;
    BACKGROUND-COLOR: #000066;
    TEXT-DECORATION: none;
}
.nav1:visited
{
    BORDER-RIGHT: #a1a1a1 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #efefef 1px solid;
    DISPLAY: block;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #a1a1a1 1px solid;
    COLOR: #ffffff;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #a1a1a1 1px solid;
    BACKGROUND-COLOR: #000066;
    TEXT-DECORATION: none;
}
.nav1:hover
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #81b0d1;
    TEXT-DECORATION: none;
}
A.dropdownmenu
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #ffffff;
    LINE-HEIGHT: 17px;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    BACKGROUND-COLOR: #81b0d1;
    TEXT-DECORATION: none;
}
A.dropdownmenu:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #ffffff;
    LINE-HEIGHT: 17px;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    BACKGROUND-COLOR: #000066;
    TEXT-DECORATION: none;
}
#home-leftcol
{
    WIDTH: 366px;
}
.section-head
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    MARGIN-LEFT: 7px;
    COLOR: white;
    PADDING-TOP: 2px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
#flights-header
{
    BORDER-BOTTOM: #81b0d1 5px solid;
}
#flights-header TABLE
{
    PADDING-RIGHT: 2px;
    WIDTH: 366px;
}
#flights-formbox
{
    BORDER-RIGHT: #cccdcf 1px solid;
    MARGIN-BOTTOM: 4px;
    BORDER-LEFT: #cccdcf 1px solid;
    BORDER-BOTTOM: #cccdcf 1px solid;
    BACKGROUND-COLOR: #eff5f9;
}
#flights-formarea
{
    PADDING-LEFT: 7px;
    PADDING-TOP: 7px;
}
#checkin-header
{
    BACKGROUND-COLOR: #629cc6;
}
#checkin-formbox
{
    BORDER-RIGHT: #cccdcf 1px solid;
    MIN-HEIGHT: 78px;
    MARGIN-BOTTOM: 4px;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: #cccdcf 1px solid;
    BORDER-BOTTOM: #cccdcf 1px solid;
    BACKGROUND-COLOR: white;
}
#checkin-formarea
{
    PADDING-LEFT: 7px;
}
#quicklinks-header
{
    BACKGROUND-COLOR: #629cc6;
}
#quicklinks-box-expandable
{
    BORDER-RIGHT: #cccdcf 1px solid;
    MIN-HEIGHT: 78px;
    MARGIN-BOTTOM: 0px;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: #cccdcf 1px solid;
    BACKGROUND-COLOR: white;
}
#quicklinks-box
{
    BORDER-RIGHT: #cccdcf 1px solid;
    BORDER-LEFT: #cccdcf 1px solid;
    HEIGHT: 77px;
    BACKGROUND-COLOR: #ffffff;
}
#quicklinks-area
{
    PADDING-LEFT: 7px;
    PADDING-TOP: 14px;
}
#quicklinks-box-bottom
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BACKGROUND-IMAGE: url(/images/home-bottom-corner-L.gif);
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 366px;
    PADDING-TOP: 0px;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 14px;
}
#home-rtcol
{
    WIDTH: 384px;
}
#Emergency
{
    CLEAR: both;
    COLOR: #cc6600;
}
#greeter-image
{
    MARGIN: 0px;
}
#greeter-box
{
    HEIGHT: 25px;
    BACKGROUND-COLOR: #ffffff;
}
#greeter-area
{
    PADDING-LEFT: 7px;
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    WIDTH: 384px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
#offers-box
{
    HEIGHT: 184px;
    BACKGROUND-COLOR: #ffffff;
}
#offers-area
{
    PADDING-LEFT: 7px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
#rough-divider
{
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
}
#miniAds
{
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 8px;
    BACKGROUND-COLOR: #ffffff;
}
.mini-ad-head
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 14px;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.greeter
{
    padding-left: 7px;
    padding-top: 1px;
    padding-bottom: 2px;
    font-weight: 700;
    font-size: 18px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0px;
    color: #ffffff;    
    width: 373px;
    height: 22px;
}
#Content-Body
{
    FLOAT: left;
    WIDTH: 560px;
}
#Center-Col
{
    FLOAT: right;
    WIDTH: 385px;
}
#Left-Col
{
    FLOAT: left;
    WIDTH: 170px;
}
#Right-Col
{
    FLOAT: right;
    WIDTH: 200px;
}
#boxclear
{
    CLEAR: both;
    HEIGHT: 25px;
}
.centered
{
    TEXT-ALIGN: center;
}
#standard-content
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    MIN-HEIGHT: 200px;
    PADDING-BOTTOM: 0px;
    MARGIN-LEFT: 5px;
    WIDTH: 550px;
    PADDING-TOP: 0px;
}
#wide-content
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    MIN-HEIGHT: 200px;
    PADDING-BOTTOM: 0px;
    MARGIN-LEFT: 5px;
    WIDTH: 760px;
    PADDING-TOP: 0px;
    HEIGHT: 200px;
}
#center-content
{
    MARGIN: 0;
	PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;   
    WIDTH: 370px;   
    PADDING-TOP: 0px;
	VERTICAL-ALIGN: TOP;
}
#center-content P
{
    MARGIN-TOP: 14px;
    MARGIN-BOTTOM: 0px;
}
.TOC
{
    WIDTH: 80px;
    TEXT-ALIGN: center;
}
#left-header
{
    BACKGROUND-IMAGE: url(/images/home-leftcorner.gif);
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-COLOR: #629cc6;
}
.left-section-head
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    MARGIN-LEFT: 7px;
    COLOR: white;
    PADDING-TOP: 2px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
#left-menubox
{
    BORDER-RIGHT: #cccdcf 1px solid;
    BORDER-LEFT: #cccdcf 1px solid;
    BACKGROUND-COLOR: white;
}
#left-menubox-area
{
    BACKGROUND-POSITION: center top;
    PADDING-LEFT: 7px;
    BACKGROUND-COLOR: #EFF5f9;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 14px;
    BACKGROUND-REPEAT: no-repeat;
}
#left-menubox-bottom
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BACKGROUND-IMAGE: url(/images/LeftCol-bottom-corner-L.gif);
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 170px;
    PADDING-TOP: 0px;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 14px;
}
#right-header
{
    BACKGROUND-POSITION: right top;
    BACKGROUND-IMAGE: url(/images/rtcol-top-corner.gif);
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-COLOR: #629cc6;
}
#right-header2
{
    BACKGROUND-POSITION: right top;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-COLOR: #629cc6;
}
#right-header-formlet
{
    BACKGROUND-POSITION: right top;
    BACKGROUND-IMAGE: url(/images/rtcol-top-corner.gif);
    BORDER-BOTTOM: #81b0d1 5px solid;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-COLOR: #81b0d1;
}
.right-header-formlet2
{
    BORDER-BOTTOM: #81b0d1 5px solid;
    BACKGROUND-COLOR: #ffffff;
}
.right-section-head
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    MARGIN-LEFT: 5px;
    COLOR: white;
    PADDING-TOP: 2px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
#right-formbox
{
    BORDER-RIGHT: #cccdcf 1px solid;
    BORDER-LEFT: #cccdcf 1px solid;
    BACKGROUND-COLOR: #EFF5f9;
}

#right-formarea
{   
	Margin-Left: 5px;
	PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px;
    BACKGROUND-COLOR: #EFF5f9;
}

#right-formarea #news
{
	MARGIN-LEFT: 14px;
	MARGIN-RIGHT: 14px; 
	LINE-HEIGHT: 12PT;
}
#right-bottom
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BACKGROUND-IMAGE: url(/images/formlet-bottom.gif);
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 200px;
    PADDING-TOP: 0px;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 14px;
}
#right-bottom-straight
{
    PADDING-RIGHT: 0px;
    BORDER-TOP: #cccdcf 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 200px;
    PADDING-TOP: 0px;
}
A
{
    FONT-SIZE: 11px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
}
A:visited
{
    FONT-SIZE: 11px;
    COLOR: #009999;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
}
A:hover
{
    FONT-SIZE: 11px;
    COLOR: #009999;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
}
A.hdr
{
    FONT-SIZE: 14px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
}
A.hdr:visited
{
    FONT-SIZE: 14px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
}
A.hdr:hover
{
    FONT-SIZE: 14px;
    COLOR: #009999;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
}
A.section-link
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 16px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Geneva, sans-serif;
    TEXT-DECORATION: underline;
}
A.section-link:visited
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 16px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Geneva, sans-serif;
}
A.section-link:hover
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 16px;
    COLOR: #009999;
    FONT-FAMILY: Verdana, Arial, Geneva, sans-serif;
}
A.link9
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 13px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Geneva, sans-serif;
    TEXT-DECORATION: underline;
}
A.link9:visited
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 13px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Geneva, sans-serif;
}
A.link9:hover
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 13px;
    COLOR: #009999;
    FONT-FAMILY: Verdana, Arial, Geneva, sans-serif;
}
A.minilink
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Geneva, sans-serif;
    TEXT-DECORATION: underline;
}
A.minilink:visited
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Geneva, sans-serif;
}
A.minilink:hover
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    COLOR: #009999;
    FONT-FAMILY: Verdana, Arial, Geneva, sans-serif;
}
A.minilink-bold
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 14px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Geneva, sans-serif;
    TEXT-DECORATION: underline;
}
A.minilink-bold:visited
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 14px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Geneva, sans-serif;
}
A.minilink-bold:hover
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 14px;
    COLOR: #009999;
    FONT-FAMILY: Verdana, Arial, Geneva, sans-serif;
}
A.home-offers
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #000099;
    LINE-HEIGHT: 17px;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
}
A.home-offers:visited
{
    FONT-SIZE: 14px;
    COLOR: #000099;
    LINE-HEIGHT: 17px;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
}
A.home-offers:hover
{
    FONT-SIZE: 14px;
    COLOR: #009999;
    LINE-HEIGHT: 17px;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
}
A.spanishlink
{
    FONT-SIZE: 11px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    FONT-WEIGHT:bold;
    TEXT-DECORATION: none;
}
A.spanishlink:visited
{
    FONT-SIZE: 11px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    FONT-WEIGHT:bold;
    TEXT-DECORATION: none;
}
A.spanishlink:hover
{
    FONT-SIZE: 11px;
    COLOR: #009999;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    FONT-WEIGHT:bold;
    TEXT-DECORATION: underline;
}
FORM
{
    MARGIN-TOP: 0px;
    MARGIN-BOTTOM: 0px;
}
INPUT
{
    FONT-SIZE: 14px;
}
INPUT.radio
{
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: middle;
}
SELECT
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Geneva, sans-serif;
}
SELECT.inline
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    VERTICAL-ALIGN: top;
    WIDTH: 155px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Geneva, sans-serif;
}
SELECT.formlet
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    VERTICAL-ALIGN: top;
    WIDTH: 170px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Geneva, sans-serif;
}
.FieldLabel
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 14px;
    COLOR: #000000;
    LINE-HEIGHT: 10pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.FieldLabel-Blue
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 7pt;
    COLOR: #000066;
    LINE-HEIGHT: 10pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
H1
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 18px;
    MARGIN: 14px 0px;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
H1.white-overlay
{
    PADDING-LEFT: 7px;
    FONT-WEIGHT: 700;
    FONT-SIZE: 18px;
    MARGIN: 0px;
    COLOR: white;
    PADDING-TOP: 5px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
H1.blue-overlay
{
    PADDING-LEFT: 7px;
    FONT-WEIGHT: 700;
    FONT-SIZE: 18px;
    MARGIN: 0px;
    COLOR: #000066;
    PADDING-TOP: 5px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
H2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
H3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #336699;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.spirit-blue-header
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #336699;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;	
}
.bodytext
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.bodytext-blue
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 11px;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.spirit-blue-bold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #336699;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.hdr
{
    FONT-SIZE: 14px;
    COLOR: #000000;
    LINE-HEIGHT: 14px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.minitext
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;    
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.smallText quiet
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.minitext-red
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.minitext-pricepoint
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.text9
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 13px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.text9-blue
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 13px;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.text12
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.text12-blue
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 16px;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
UL
{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 15px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-indent: 0px;
}
UL.nopadding
{
	display: inline; 
	list-style-position: inside;
	text-indent: 14px;
}
LI.promo
{
    PADDING-BOTTOM: 7px;
}
.spirit100
{
    BACKGROUND-COLOR: #629cc6;
}
.spirit80
{
    BACKGROUND-COLOR: #81b0d1;
}
.spirit50
{
    BACKGROUND-COLOR: #b0cde2;
}
.spirit25
{
    BACKGROUND-COLOR: #d8e6f1;
}
.spirit10
{
    BACKGROUND-COLOR: #eff5f9;
}
.mvp
{
    BACKGROUND-COLOR: #009999;
}
.gold
{
    BACKGROUND-COLOR: #ffcc33;
}
.gold75K
{
    BACKGROUND-COLOR: #ffcc33;
}
.goldTierStatus
{
	border-collapse: collapse;
	border-width: 2px;
	border-style: solid;
    border-color: #ffcc33;
}
.goldTierStatus td 
{
	border-width: 2px;
	border-style: solid;
    border-color: #ffcc33;
}
.gold75KTierStatus
{
	border-collapse: collapse;
	border-width: 2px;
	border-style: solid;
    border-color: #ffcc33;
}
.gold75KTierStatus td 
{
	border-width: 2px;
	border-style: solid;
    border-color: #ffcc33;
}
.mvpTierStatus
{
	border-collapse: collapse;
	border-width: 2px;
	border-style: solid;
    border-color: #009999;
}
.mvpTierStatus td 
{
	border-width: 2px;
	border-style: solid;
    border-color: #009999;
}
.regularTierStatus
{
	border-collapse: collapse;
	border-width: 2px;
	border-style: solid;
    border-color: #b0cde2;
}
.regularTierStatus td 
{
	border-width: 2px;
	border-style: solid;
    border-color: #b0cde2;
}
.mm
{
    BACKGROUND-COLOR: #9d9c9c;
}
.StandardTable-rev
{
    BORDER-RIGHT: #cccdcf 2px solid;
    BORDER-TOP: #cccdcf 2px solid;
    BORDER-LEFT: #cccdcf 2px solid;
    BORDER-BOTTOM: #cccdcf 2px solid;
}
TH.rev
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Geneva, sans-serif;
    BACKGROUND-COLOR: #d8e6f1;
}
TD.tc1-rev
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    FONT-FAMILY: Arial, Geneva, sans-serif;
    TEXT-ALIGN: center;
}
.tablerow1-rev
{
    BACKGROUND-COLOR: #eff5f9;
}
.tablerow2-rev
{
    BACKGROUND-COLOR: #ffffff;
}
.tablerow3-rev
{
    BACKGROUND-COLOR: #eeeeee;
}
.tablerow4-rev
{
    BACKGROUND-COLOR: #a9cfd4;
}

.toc-title
{
    PADDING-LEFT: 7px;
    padding-top: 1px;
    padding-bottom: 2px;
    FONT-WEIGHT: 700;
    FONT-SIZE: 18px;
    MARGIN: 0px;
    COLOR: #ffffff;
    background-color: #629cc6;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    width: 373px;
    height: 22px;
}

.section-head-baseline
{
	background-color: #b0cde2;
	padding: 0px,0px,0px,0px;
	margin: 0px,0px,0px,0px;
}

#footer
{
    CLEAR: both;
    WIDTH: 760px;
    PADDING-TOP: 15px;
    POSITION: relative;
}
#footer-line
{
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    TEXT-ALIGN: center;
}
.footer-servername
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 13px;
    PADDING-BOTTOM: 2px;
    COLOR: #cccccc;
    PADDING-TOP: 14px;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    TEXT-ALIGN: center;
}
.footer-superuser
{
    TEXT-ALIGN: center;
}
.footer-row1
{
    TEXT-ALIGN: center;
}
.footer-row2
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    TEXT-ALIGN: center;
}
A.footer-row1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
}
A.footer-row1:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
}
A.footer-row1:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #009999;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
}
A.footer-row2
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
}
A.footer-row2:visited
{
    FONT-SIZE: 14px;
    COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
}
A.footer-row2:hover
{
    FONT-SIZE: 14px;
    COLOR: #009999;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
}
A.privacy-policy
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #007070;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
}
A.privacy-policy:visited
{
    FONT-SIZE: 14px;
    COLOR: #007070;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
}
A.privacy-policy:hover
{
    FONT-SIZE: 14px;
    COLOR: #007070;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
}
.Site-Map-Header
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 14px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none;
}
.Site-Map-Header:visited
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 14px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none;
}
.Site-Map-Header:hover
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 14px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
}
.formtabs
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
}
.formtabs LI
{
    PADDING-RIGHT: 0px;
    DISPLAY: inline;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none;
}
.formtabs A:link
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    BACKGROUND: #b0cde2;
    FLOAT: left;
    PADDING-BOTTOM: 3px;
    COLOR: #000066;
    LINE-HEIGHT: 14px;
    PADDING-TOP: 3px;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none;
}
.formtabs A:visited
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    BACKGROUND: #b0cde2;
    FLOAT: left;
    PADDING-BOTTOM: 3px;
    COLOR: #000066;
    LINE-HEIGHT: 14px;
    PADDING-TOP: 3px;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none;
}
.formtabs A.air:link
{
    BACKGROUND: #81b0d1;
    WIDTH: 65px;
    CURSOR: default;
    COLOR: white;
    MARGIN-RIGHT: 2px;
}
.formtabs A.air:visited
{
    BACKGROUND: #bbd9ec;
    WIDTH: 65px;
    CURSOR: default;
    COLOR: #035489;
    MARGIN-RIGHT: 2px;
}
.formtabs A:hover
{
    BACKGROUND: #d8e6f1;
    COLOR: #000066;
    TEXT-DECORATION: none;
}
.formtabs A.hotel:link
{
    WIDTH: 65px;
    MARGIN-RIGHT: 2px;
}
.formtabs A.hotel:visited
{
    WIDTH: 65px;
    MARGIN-RIGHT: 2px;
}
.formtabs A.car:link
{
    WIDTH: 50px;
    MARGIN-RIGHT: 2px;
}
.formtabs A.car:visited
{
    WIDTH: 50px;
    MARGIN-RIGHT: 2px;
}
.formtabs A.checkin:link
{
    BACKGROUND: #81b0d1;
    WIDTH: 80px;
    CURSOR: default;
    COLOR: white;
    MARGIN-RIGHT: 2px;
}
.formtabs A.checkin:visited
{
    BACKGROUND: #bbd9ec;
    WIDTH: 80px;
    CURSOR: default;
    COLOR: #035489;
    MARGIN-RIGHT: 2px;
}
.formtabs A.flifo:link
{
    WIDTH: 100px;
    MARGIN-RIGHT: 2px;
}
.formtabs A.flifo:visited
{
    WIDTH: 100px;
    MARGIN-RIGHT: 2px;
}
.formtabs A.mileage:link
{
    BACKGROUND: #81b0d1;
    WIDTH: 75px;
    CURSOR: default;
    COLOR: white;
    MARGIN-RIGHT: 2px;
}
.formtabs A.mileage:visited
{
    BACKGROUND: #bbd9ec;
    WIDTH: 75px;
    CURSOR: default;
    COLOR: #035489;
    MARGIN-RIGHT: 2px;
}
.formtabs A.awardres:link
{
    WIDTH: 95px;
    MARGIN-RIGHT: 2px;
}
.formtabs A.awardres:visited
{
    WIDTH: 95px;
    MARGIN-RIGHT: 2px;
}
.formtabs A.weather:link
{
    BACKGROUND: #81b0d1;
    WIDTH: 85px;
    CURSOR: default;
    COLOR: white;
    MARGIN-RIGHT: 2px;
}
.formtabs A.weather:visited
{
    BACKGROUND: #bbd9ec;
    WIDTH: 85px;
    CURSOR: default;
    COLOR: #035489;
    MARGIN-RIGHT: 2px;
}
.formtabs A.directions:link
{
    WIDTH: 95px;
    MARGIN-RIGHT: 2px;
}
.formtabs A.directions:visited
{
    WIDTH: 95px;
    MARGIN-RIGHT: 2px;
}
.formtabs A.vacations:link
{
    BACKGROUND: #81b0d1;
    WIDTH: 90px;
    CURSOR: default;
    COLOR: white;
    MARGIN-RIGHT: 2px;
}
.formtabs A.vacations:visited
{
    BACKGROUND: #bbd9ec;
    WIDTH: 90px;
    CURSOR: default;
    COLOR: #035489;
    MARGIN-RIGHT: 2px;
}
.formtabs A.vacations2:link
{
    WIDTH: 95px;
    MARGIN-RIGHT: 2px;
}
.formtabs A.vacations2:visited
{
    WIDTH: 95px;
    MARGIN-RIGHT: 2px;
}
.formtabs A.cruises:link
{
    WIDTH: 75px;
    MARGIN-RIGHT: 2px;
}
.formtabs A.cruises:visited
{
    WIDTH: 75px;
    MARGIN-RIGHT: 2px;
}
.noPrintKeepSpace
{
    VISIBILITY: visible;
}
.noPrintRemoveSpace
{
}
.printOnlyKeepSpace
{
    VISIBILITY: hidden;
}
.printOnlyRemoveSpace
{
    DISPLAY: none;
}
BODY.PreFlt_email
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #b0cde2;
}
.nowrap
{
    WHITE-SPACE: nowrap;
}
.RowHiLite
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #daeaeb;
}
.StandardTable
{
    BORDER-RIGHT: #b0cde2 2px solid;
    BORDER-TOP: #b0cde2 2px solid;
    BORDER-LEFT: #b0cde2 2px solid;
    BORDER-BOTTOM: #b0cde2 2px solid;
}
TH
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #b0cde2;
}
TD.tc1
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: center;
}
.tablerow1
{
    BACKGROUND-COLOR: #d8e6f1;
}
.tablerow2
{
    BACKGROUND-COLOR: #ffffff;
}
.tablerow3
{
    BACKGROUND-COLOR: #eeeeee;
}
.tablerow4
{
    BACKGROUND-COLOR: #b0cde2;
}
TD.blue
{
    BACKGROUND-COLOR: #a3b4d5;
}
TD.ltblue
{
    BACKGROUND-COLOR: #eff5f9;
}
TD.darkgreen
{
    BACKGROUND-COLOR: #81b0d1;
}
TD.green
{
    BACKGROUND-COLOR: #d8e6f1;
}
TD.gray
{
    BACKGROUND-COLOR: #e9e9e9;
}
TD.darkgray
{
    BACKGROUND-COLOR: #cccccc;
}
TD.yellow
{
    BACKGROUND-COLOR: #ffffcc;
}
.menubar
{
    BACKGROUND-COLOR: #b0cde2;
}
.menuline
{
    BACKGROUND-COLOR: #629cc6;
}
.submenu
{
    BACKGROUND-COLOR: #eeeeee;
}
.graytext
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 11px;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.confirmcode
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 12pt;
    COLOR: #000000;
    FONT-FAMILY: Times New Roman, Times, New York, sans-serif;
}
.easybizco
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 18px;
    COLOR: #629cc6;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.expandingMenu
{
    MARGIN: 0px;
    COLOR: #000099;
}
A.expandingMenu
{
    MARGIN: 0px;
    CURSOR: hand;
}
A.expandingMenu:hover
{
    MARGIN: 0px;
    CURSOR: hand;
}
.expandingSubmenu
{
    PADDING-LEFT: 14px
}
A.expandingSubmenu
{
    CURSOR: hand;
}
A.expandingSubmenu:hover
{
    CURSOR: hand;
}
A.ddm
{
    BACKGROUND-COLOR: #ffffff;
}
A.ddm:visited
{
    BACKGROUND-COLOR: #ffffff;
}
A.ddm:hover
{
    BACKGROUND-COLOR: #ffffff;
}
A.menulink
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none;
}
A.menulink:visited
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
A.menulink:hover
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: underline;
}
A.help
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    COLOR: #0000cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
A.help:visited
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    COLOR: #990099;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
A.help:hover
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    CURSOR: help;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #daeaeb;
}
.gray-minilink
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.gray-minilink:visited
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.gray-minilink:hover
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: transparent;
}
.advisorylink
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 11px;
    COLOR: #cc6600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.advisorylink:visited
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 11px;
    COLOR: #990099;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.advisorylink:hover
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff;
}
.advisory-minilink
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    COLOR: #cc6600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.advisory-minilink:visited
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    COLOR: #990099;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.advisory-minilink:hover
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff;
}
.header
{
    MARGIN-TOP: 0px;
    FONT-WEIGHT: 700;
    FONT-SIZE: 16px;
    MARGIN-BOTTOM: 0px;
    MARGIN-LEFT: 0px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.sub
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 16px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.subcolor
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 16px;
    COLOR: #000099;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.sub2
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.fieldLabels
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.nogap
{
    MARGIN-TOP: 0px;
    MARGIN-BOTTOM: 0px
}
.redminitext
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.grayminitext
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.miniadvisory
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    COLOR: #cc6600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.minicaption
{
    FONT-SIZE: 13px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.microtext
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 8px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.redtext
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.sub2red
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 14px;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.advisory
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 11px;
    COLOR: #cc6600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.displayInline
{
    DISPLAY: inline;
}
.displayNone
{
    DISPLAY: none;
}
.ReadOnly
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #3a3a3a;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #dcdcdc;
}
.tooltiptitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: default;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #b0cde2;
    TEXT-DECORATION: none;
}
.tooltipcontent
{
    FONT-SIZE: 8pt;
    CURSOR: default;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none;
}
#ToolTip
{
    Z-INDEX: 4;
    LEFT: 0px;
    VISIBILITY: hidden;
    WIDTH: 100px;
    POSITION: absolute;
    TOP: 0px;
}
.interstitial TABLE
{
    BORDER-TOP-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BORDER-BOTTOM-STYLE: none;
}
.interstitial TD
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 14px;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: center;
}
.big-blue
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 18px;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
/* Styles for Sign In area */
#UserSignIn	{
	width: 330px;
	height: 40px;	
   	background: transparent;
	font-size: 11px;
	font-weight:400;	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-bottom: 0px;
	padding-top: 5px;
}
#forgot-it	{
	width:252px;
	height: 16px;
	text-align: right;
}
#label	{
 	width: 94px;
	height: 30px;
	font-size: 14px;
	font-weight: 700;
	display: inline;
	text-align: right;
	float: left;
	padding-right: 4px;
	vertical-align: bottom;
	padding-top: 3px; 
}
#userinput	{
	width: 154px;
	float: left;
	text-align: left;
}
#remember-me	{
	width: 291px;
	vertical-align: middle;	
	position: relative;
	margin-left: 98px; 
	display: block;
}
Input.userinput	{
	width: 150px;
	height: 13px;
	margin-bottom: 0px;
}
.microtextgray {
	font-size: 13px;
	color: #666666;
	vertical-align: top;
	text-align: left;
}
.text-padding	{
	vertical-align: middle;
	display: inline;
}
.button-place	{
	padding-top: 13px;
	margin-left: 275px;
	position: relative;
	display: block;
}
.more-line-height	{
	line-height: 16px;
}
#content-body-midsize	{
	padding-left: 25px;
	width: 420px;
	float: left;
}
#input-text-image	{
	width: 291px;
	vertical-align: middle;	
	position: relative;
	margin-left: 98px; 
	display: block;
	padding-bottom: 4px;
}

.alternateRowEven {
	background: #eff5f9; 
}
.cellWithSpacer {
		padding-left: 3px;
}
th.padded {
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #000000;
    BACKGROUND-COLOR: #b0cde2;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
}	   	   
th.paddedSpacer {
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #000000;
    BACKGROUND-COLOR: #b0cde2;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}	
.warningtable {  border: 1px #F6DD7F solid}
.warningtableCopy { border: 1px #000000 solid}
.attentionlines {  border: #EEAD12; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}
.warningtext {  padding-top: 16px; padding-bottom: 16px; padding-right: 4px; COLOR: #000000;}