$error: #a00;
$passengerSeat: #0e2b51;
$emptySeat: #56ACD4;
$occupiedSeat: #BABABA;
$exitRed: #720000;
$utilityBackground: $occupiedSeat;
$planeBodyCreme: #f4f2ef;

$row-item-height: 20px;
$row-item-width: $row-item-height;
$row-item-margin: 2px;
$wing-span: $row-item-height * 1.5;
$aisle-width: 25px;

$lg-row-item-height: $row-item-height * 2;
$lg-row-item-width: $lg-row-item-height;
$lg-row-item-margin: 4px;
$lg-wing-span: $lg-row-item-height * 1.5;
$lg-aisle-width: 25px;

.container-fixed { 
    position: relative;
    width: 980px !important;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: $wing-span solid transparent;
    border-bottom: $wing-span solid transparent;
    border-left: $wing-span solid #f4f2ef;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: $wing-span solid transparent;
    border-bottom: $wing-span solid transparent;
    border-right: $wing-span solid $planeBodyCreme;
}

.seatmap-tab {
    color: #0e2b51;
    float: left;
    font-size: 16px;
    margin-bottom: 18px;
    padding: 0 0 16px;
    position: relative;
    text-align: center;

    span {
        display: block;
    }

    a {
        cursor: pointer;
        display: inline-block;
    }

    a:hover, a:active, a:focus {
        text-decoration: none;
    }

    .seatmap-line {
        background-color:#0e2b51 ;
        bottom: 0;
        position: absolute;
        height: 2px;
        width: 100%;
    }

    .seatmap-flight, .seatmap-route {
        margin: 0 24px;
    }

    &.selected .seatmap-line {
        height: 6px;
    }
}

.plane-container {
    position: relative;

    h3 {
        font-size: 14px;
        left: 0;
        line-height: 18px;
        margin-top: 0;
        position: absolute;
        text-align: left;

        + .plane-body {
            margin-top: 52px;
        }
    }
}

.seatmap-message {
    padding-top: 48px;
    text-align: left;
    color: $error;
    font-weight: bold;
}

.plane {
    text-align: center;
    margin: 0 auto 48px;

    .wing-continued {
        background-color: $planeBodyCreme;
        height: $wing-span;
    }

    .wing {
        width: $wing-span;
        position: absolute;
    }

    .wing-body {
        background-color: $planeBodyCreme;
        width: 100%;
        position: relative;
        top: -1 * $wing-span;
    }

    .wing.left-wing {
        left: -1 * $wing-span;
    }

    .wing.right-wing {
        right: -1 * $wing-span;
    }
}

.plane-body {
    width: auto;
    margin: 0 $wing-span;
    background-color: $planeBodyCreme;
    padding: 0 $aisle-width;
    display: inline-block;
    font-size: 10px;
    position: relative;
    text-align: left;
    vertical-align: bottom;
    float: left;
    clear: left;

    .row {
        position: relative;
        text-align: center;

        .exit {
            position: absolute;
            top: 0;
            height: $row-item-height;
            width: 50px;
            color: $exitRed;
            margin: $row-item-margin 0;
            font-weight: bold;
            font-size: 10px;
            line-height: $row-item-height - ($row-item-margin * 2);
            text-transform: uppercase;
        }

        .exit.left-exit {
            border: $row-item-margin solid transparent;
            border-right: $row-item-margin $exitRed solid;
            padding-right: 6px;
            left: -50px;
            text-align: right;
        }

        .exit.right-exit {
            border: $row-item-margin solid transparent;
            border-left: $row-item-margin $exitRed solid;
            right: -50px;
            z-index: 9999;
        }

        &.cabin-label {
            text-align: left;
            font-size: 10px;
            font-weight: bold;
            margin-left: -11px;
            margin-top: $row-item-margin * 2;
            line-height: 25px;
        }
    }
}

.seatmaps {
    &.seatmaps-lightbox {
        margin-left: 175px;
    }
}

.seatmaps-fixed {
    width: 980px;
}

.drawer-legend-fixed .seatmap-legend {
    position: fixed;
    top: 0;
}


.seatmap-legend {
    position: absolute;
    vertical-align: top;

    &.seatmap-legend-lightbox {
        display: inline-block;
        width: 150px;
    }

    .seatmap-legend-preferred,
    .seatmap-legend-preferred-plus,
    .seatmap-legend-accessible,
    .seatmap-legend-umnr {
        display: none;
    }

    &.has-preferred .seatmap-legend-preferred,
    &.has-preferred-plus .seatmap-legend-preferred-plus,
    &.has-accessible .seatmap-legend-accessible,
    &.has-umnr .seatmap-legend-umnr {
        display: block;
    }

    .seatmap-legend-umnr .legend-label {
        line-height: 20px;
        width: 100px;
    }

    .legend-label {
        display: inline-block;
        font-weight: bold;
        line-height: $lg-row-item-height;
        margin-left: 6px;
        vertical-align: top;
    }

    .seat {
        width: $lg-row-item-width;
        height: $lg-row-item-height;
        display: inline-block;

        &.empty {
            background-color: $emptySeat;
        }
        &.umnr {
            background-image: url('/img/seatmaps/lg-umnr.png');
        }
        &.unavailable {
            background: $occupiedSeat;
            background-image: url('/img/seatmaps/lg-seat-occupied.png');
        }
        &.preferred {
            background-image: url('/img/seatmaps/lg-preferred.png');
        }
        &.preferred-plus {
            background-image: url('/img/seatmaps/lg-preferredplus.png');
        }
        &.accessible {
            background-image: url('/img/seatmaps/lg-accessible.png');
        }
    }
}

.passenger-legend {
    margin-bottom: 24px;

    .passenger-legend-person {
        float: left;
        clear: left;
        cursor: pointer;
        margin-bottom: 12px;
        position: relative;
    }

    .seat {
        width: $lg-row-item-width;
        height: $lg-row-item-height;
        display: inline-block;
        border: 2px solid $passengerSeat;
        background-image: url('/img/seatmaps/lg-unassigned.png');
        background-position: -2px -2px;
        line-height: $lg-row-item-height - 2;
        position: absolute;
    }

    .assigned .seat{
        background-color: $passengerSeat;
        background-image: none;
        color: white;
        text-align: center;
        text-transform: uppercase;
    }
    
    .legend-label {
        border-bottom: 4px solid transparent;
        display: inline-block;
        font-weight: bold;
        line-height: $lg-row-item-height;
        margin-left: 50px;
        vertical-align: top;
    }

    .active {
        .legend-label {
            border-bottom: 4px solid $passengerSeat;
        }
    }
}

#Legends {
    position: absolute;

    &.legend-fixed {
        position: fixed;
        top: 75px;
    }

    .seatmap-legend {
        position: relative;
    }

    &.legend-bottom-absolute {
        position: absolute;
        top: auto;
        bottom: 40px;
    }
}

.seat {
    transition: opacity 1s, box-shadow 1s;

    &[role=button] {
        cursor: pointer;
    }
    &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0 , 0, 0.75), 0 0 10px rgba(255, 0, 0, 0.9);
        transition: box-shadow 0.1s;
    }
}

.seatmap-empty-hover .seat:not(.empty),
.seatmap-umnr-hover .seat:not(.umnr),
.seatmap-occupied-hover .seat:not(.occupied),
.seatmap-preferred-hover .seat:not(.preferred),
.seatmap-preferred-plus-hover .seat:not(.preferred-plus),
.seatmap-accessible-hover .seat:not(.accessible)
{
    opacity: 0.5;
}

.seatmap-empty-hover .seat.empty,
.seatmap-umnr-hover .seat.umnr,
.seatmap-occupied-hover .seat.occupied,
.seatmap-preferred-hover .seat.preferred,
.seatmap-preferred-plus-hover .seat.preferred-plus,
.seatmap-accessible-hover .seat.accessible
{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.row-item {
    &.seat, &.aisle, &.seat-letter-label, &.lavatory, &.galley, &.bulkhead {
        display: inline-block;
        font-weight: bold;
        margin: $row-item-margin;
        width: $row-item-width;
        height: $row-item-height;
        line-height: $row-item-height;
        vertical-align: top;
    }

    &.lavatory, &.galley {
        background-color: $utilityBackground;
    }

    &.bulkhead-2, &.lavatory-2, &.lavatory-3, &.galley-2 {
        background-repeat: no-repeat;
        width: ($row-item-width * 2) + ($row-item-margin * 2);
    }

    &.lavatory-4, &.galley-4 {
        width: ($row-item-width * 4) + ($row-item-margin * 6);
    }

    &.bulkhead-3, &.lavatory-3, &.galley-3 {
        width: ($row-item-width * 3) + ($row-item-margin * 4);
        background-position: ($row-item-width / 2) 0;
    }

    &.bulkhead-2, &.bulkhead-3 {
        background-image: url('/img/seatmaps/bulkhead.png');
        background-repeat: repeat-x;
        background-position: unset;
    }

    &.lavatory-2, &.lavatory-3, &.lavatory-4 {
        background-image: url('/img/seatmaps/lavatory.png');
    }

    &.galley-2, &.galley-3, &.galley-4 {
        background-image: url('/img/seatmaps/galley.png');
    }

    &.galley-4 {
        background-position: center 0;
        background-repeat: no-repeat;
    }

    &.aisle {
        width: $aisle-width;
    }

    &.seat {
        &.empty {
            background-color: $emptySeat;
        }
        &.occupied {
            background: $occupiedSeat;
            background-image: url('/img/seatmaps/seat-occupied.png');
        }
        &.assigned {
            background-color: $passengerSeat;
            color: white;
        }

        &.empty.accessible {
            background-image: url('/img/seatmaps/accessible.png');
        }
        &.empty.umnr {
            background-image: url('/img/seatmaps/umnr.png');
        }
        &.empty.preferred {
            background-image: url('/img/seatmaps/preferred.png');
        }
        &.empty.accessible.preferred {
            background-image: url('/img/seatmaps/accessible-preferred.png');
        }
        &.empty.preferred-plus {
            background-image: url('/img/seatmaps/preferredplus.png');
        }
        &.empty.accessible.preferred-plus {
            background-image: url('/img/seatmaps/accessible-preferredplus.png');
        }

        &.spacer {
            background-color: transparent;
        }
    }
}

.plane.lg {
    .arrow-right {
        border-top: $lg-wing-span solid transparent;
        border-bottom: $lg-wing-span solid transparent;
        border-left: $lg-wing-span solid #f4f2ef;
    }

    .arrow-left {
        border-top: $lg-wing-span solid transparent;
        border-bottom: $lg-wing-span solid transparent;
        border-right: $lg-wing-span solid $planeBodyCreme;
    }
    .wing-continued {
        height: $lg-wing-span;
    }

    .wing {
        width: $lg-wing-span;
    }

    .wing-body {
        top: -1 * $lg-wing-span;
    }

    .wing.left-wing {
        left: -1 * $lg-wing-span;
    }

    .wing.right-wing {
        right: -1 * $lg-wing-span;
    }

    .plane-body {
        font-size: 14px;
        margin: 0 $lg-wing-span;
        padding: 0 $lg-aisle-width;

        .row {
            .exit {
                height: $lg-row-item-height;
                margin: $lg-row-item-margin 0;
                font-size: 14px;
                line-height: $lg-row-item-height - ($lg-row-item-margin * 2);
            }

            .exit.left-exit {
                border: $lg-row-item-margin solid transparent;
                border-right: $lg-row-item-margin $exitRed solid;
            }

            .exit.right-exit {
                border: $lg-row-item-margin solid transparent;
                border-left: $lg-row-item-margin $exitRed solid;
            }

            &.cabin-label {
                font-size: 14px;
                margin-top: $lg-row-item-margin * 2;
            }
        }
    }

    h3 + .plane-body {
        margin-top: 52px;
    }

    .row-item {
        &.seat, &.aisle, &.seat-letter-label, &.lavatory, &.galley, &.bulkhead {
            margin: $lg-row-item-margin;
            width: $lg-row-item-width;
            height: $lg-row-item-height;
            line-height: $lg-row-item-height;
        }

        &.bulkhead-2, &.lavatory-2, &.lavatory-3, &.galley-2 {
            width: ($lg-row-item-width * 2) + ($lg-row-item-margin * 2);
        }

        &.bulkhead-3, &.lavatory-3, &.galley-3 {
            width: ($lg-row-item-width * 3) + ($lg-row-item-margin * 4);
            background-position: ($lg-row-item-width / 2) 0;
        }

        &.lavatory-4, &.galley-4 {
            width: ($lg-row-item-width * 4) + ($lg-row-item-margin * 6);
        }

        &.bulkhead-2, &.bulkhead-3 {
            background-image: url('/img/seatmaps/lg-bulkhead.png');
        }

        &.lavatory-2, &.lavatory-3, &.lavatory-4 {
            background-image: url('/img/seatmaps/lg-lavatory.png');
        }

        &.galley-2, &.galley-3, &.galley-4 {
            background-image: url('/img/seatmaps/lg-galley.png');
        }

        &.aisle {
            width: $lg-aisle-width;
        }

        &.seat {
            &.occupied {
                background-image: url('/img/seatmaps/lg-seat-occupied.png');
            }
            
            &.empty.accessible {
                background-image: url('/img/seatmaps/lg-accessible.png');
            }
            &.empty.preferred {
                background-image: url('/img/seatmaps/lg-preferred.png');
            }
            &.empty.accessible.preferred {
                background-image: url('/img/seatmaps/lg-accessible-preferred.png');
            }
            &.empty.preferred-plus {
                background-image: url('/img/seatmaps/lg-preferredplus.png');
            }
            &.empty.accessible.preferred-plus {
                background-image: url('/img/seatmaps/lg-accessible-preferredplus.png');
            }
        }
    }
}
