@import "./custom-bootstrap/variables";
.containerx {
    @media all {
    #ToolTip
    {
        z-index: 4;
        left: 0px;
        visibility: hidden;
        width: 100px;
        position: absolute;
        top: 0px;
    }

    #MatrixLeftColumn
    {
        float: left;
        margin-right: 8px;
        width: 130px;
    }

    #MatrixResultColumn
    {
        float: left;
        width: 782px;
        padding-left: 10px;
        border-left: 1px solid LightGrey;
    }

    .MatrixFirstColumn
    {
        width: 362px;
        text-align: left;
        border-bottom:0px !important;
    }


    .Matrix .SliceHeader
    {
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .Matrix .SliceHeaderFirst
    {
        margin-bottom: 5px;
    }

    .LeftColumnHeaders
    {
        margin-bottom: 0px;
    }

    .HeaderText
    {
        font-weight: bold;
        font-size: 16px;
        color: #5f87bb;
    }

    .Itinerary
    {
        font-size: 13px;
        color: #01194c;
    }

    .SubHeader
    {
        float: left;
        font-weight: bold;
        font-size: 12px;
        color: #000066;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .Matrix .MatrixHeader a
    {
	    color: #00245A;
    }

    .Matrix tr.TimeRange td
    {
	    padding:3px 0;
    }

    .Matrix tr.TimeRange div
    {
	    border:1px solid #abb393;
	    -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
	    background-color:#ccd8a6;
	    padding:8px 15px;
	    font-size:13px;
    }

    .Matrix table
    {
        float: left;
        margin-bottom: 5px;
        padding: 0 0 0 0;
        border: none;
        width: 782px;
    }

    .Matrix table th
    {
        padding: 10px 5px 0px 5px;
        margin: 0 0 0 0;
        border: none;
        background: $lightersand;
        vertical-align: top;
        text-align: left;
        font-weight: bold;
        font-size: 13px;
        color: #01194c;
    }

    .Matrix table td
    {
        padding: 8px 3px 3px;
        margin: 0 0 0 0;
        border: solid 1px #FFFFFF;
        background: white;
        vertical-align: top;
    }

    .MatrixTable .AwardTableHeader th,
    .MatrixTable .TableHeader th
    {
        padding: 0;
        font-weight: normal;
        font-size: 11px;
    }

    .MatrixTable td.BestDealColumn,
    .MatrixTable td.FullFlexColumn,
    .MatrixTable td.FirstClassColumn,
    .MatrixTable td.FirstClassDealColumn
    {
        width: 92px;
    }

    .MatrixTable td.GuestUpgradableColumn,
    .MatrixTable td.GoldUpgradableColumn,
    .MatrixTable td.ValueColumn,
    .MatrixTable td.MVPUpgradableColumn
    {
        width: 71px;
    }

    .MatrixTable td.CoachAwardColumn,
    .MatrixTable td.PremiumEconomyColumn,
    .MatrixTable td.CoachFullFlexColumn,
    .MatrixTable td.BusinessAwardColumn,
    .MatrixTable td.FirstAwardColumn,
    .MatrixTable td.FirstFullFlexColumn
    {
        width: 63px;
    }

    .MatrixTable td.ValueColumn,
    .MatrixTable td.BestDealColumn,
    .MatrixTable td.FullFlexColumn,
    .MatrixTable td.CoachAwardColumn,
    .MatrixTable td.CoachFullFlexColumn
    {
        background-color: #ecf0f6;
    }


    .MatrixTable td.BestDealColumn.LowestPrice,
    .MatrixTable td.FullFlexColumn.LowestPrice
    {
        text-align: center;
	    background: #dae2ec; /* Old browsers */
	    background: -moz-linear-gradient(top, #dae2ec 0%, #b5c6da 100%); /* FF3.6+ */
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dae2ec), color-stop(100%,#b5c6da)); /* Chrome,Safari4+ */
	    background: -webkit-linear-gradient(top, #dae2ec 0%, #b5c6da 100%); /* Chrome10+,Safari5.1+ */
	    background: -o-linear-gradient(top, #dae2ec 0%, #b5c6da 100%); /* Opera 11.10+ */
	    background: -ms-linear-gradient(top, #dae2ec 0%, #b5c6da 100%); /* IE10+ */
	    background: linear-gradient(to bottom, #dae2ec 0%, #b5c6da 100%); /* W3C */
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dae2ec', endColorstr='#b5c6da',GradientType=0);/*IE6-9*/
    }

    .MatrixTable td.FirstClassDealColumn.LowestPrice,
    .MatrixTable td.FirstClassColumn.LowestPrice
    {
	    text-align: center;
	    background: #f1f6ec; /* Old browsers */
	    background: -moz-linear-gradient(top, #f1f6ec 0%, #dfe8c2 100%); /* FF3.6+ */
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f6ec), color-stop(100%,#dfe8c2)); /* Chrome,Safari4+ */
	    background: -webkit-linear-gradient(top, #f1f6ec 0%, #dfe8c2 100%); /* Chrome10+,Safari5.1+ */
	    background: -o-linear-gradient(top, #f1f6ec 0%, #dfe8c2 100%); /* Opera 11.10+ */
	    background: -ms-linear-gradient(top, #f1f6ec 0%, #dfe8c2 100%); /* IE10+ */
	    background: linear-gradient(to bottom, #f1f6ec 0%, #dfe8c2 100%); /* W3C */
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f6ec', endColorstr='#dfe8c2',GradientType=0);/*IE6-9*/
    }

    .MatrixTable td.BestDealColumn.LowestPrice:hover,
    .MatrixTable td.FullFlexColumn.LowestPrice:hover
    {
        background: #d7e4f6;
    }

    .MatrixTable td.FirstClassDealColumn.LowestPrice:hover,
    .MatrixTable td.FirstClassColumn.LowestPrice:hover
    {
        background: #e1eac8;
    }

    .MatrixTable td.ValueColumn.Selectable:hover,
    .MatrixTable td.BestDealColumn.Selectable:hover,
    .MatrixTable td.FullFlexColumn.Selectable:hover,
    .MatrixTable td.CoachAwardColumn.Selectable:hover,
    .MatrixTable td.CoachFullFlexColumn.Selectable:hover
    {
        background-color: #d7e4f6;
    }

    .MatrixTable td.BestDealColumn.Grey,
    .MatrixTable td.FirstClassColumn.Grey,
    .MatrixTable td.FirstClassDealColumn.Grey
    {
        background-color: #eaeaea;
    }

    .MatrixTable td.FullFlexColumn.Brown,
    .MatrixTable td.GuestUpgradableColumn,
    .MatrixTable td.GoldUpgradableColumn,
    .MatrixTable td.MVPUpgradableColumn,
    .MatrixTable td.PremiumEconomyColumn,
    .MatrixTable td.BusinessAwardColumn
    {
        background-color: #f0e8de;
    }
    .MatrixTable td.FullFlexColumn.Brown.Selectable:hover,
    .MatrixTable td.GuestUpgradableColumn.Selectable:hover,
    .MatrixTable td.GoldUpgradableColumn.Selectable:hover,
    .MatrixTable td.MVPUpgradableColumn.Selectable:hover,
    .MatrixTable td.PremiumEconomyColumn.Selectable:hover,
    .MatrixTable td.BusinessAwardColumn.Selectable:hover
    {
        background-color: #f0dbbf;
    }
    .MatrixTable td.FirstClassColumn,
    .MatrixTable td.FirstClassDealColumn,
    .MatrixTable td.FirstAwardColumn,
    .MatrixTable td.FirstFullFlexColumn
    {
        background-color: #f1f3e9;
    }
    .MatrixTable td.FirstClassColumn.Selectable:hover,
    .MatrixTable td.FirstClassDealColumn.Selectable:hover,
    .MatrixTable td.FirstAwardColumn.Selectable:hover,
    .MatrixTable td.FirstFullFlexColumn.Selectable:hover
    {
        background-color: #e1eac8;
    }
    .MatrixTable td.GuestUpgradableColumn,
    .MatrixTable td.GoldUpgradableColumn,
    .MatrixTable td.MVPUpgradableColumn,
    .MatrixTable td.FirstClassDealColumn,
    .MatrixTable td.PremiumEconomyColumn,
    .MatrixTable td.FirstAwardColumn
    {
	    border-left: 2px solid #FFFFFF;
    }
    .MatrixTable td.FirstClassDealColumn.Border1
    {
	    border-left: 1px solid #FFFFFF;
    }

    .MatrixTable td.BestDealColumn.Border3,
    .MatrixTable td.FullFlexColumn,
    .MatrixTable td.CoachFullFlexColumn,
    .MatrixTable td.BusinessAwardColumn
    {
	    border-right: 3px solid #FFFFFF;
    }
    .MatrixTable td.FullFlexColumn.Border1
    {
	    border-right: 1px solid #FFFFFF;
    }

    .Matrix .MatrixTable td.FlightCell,
    .Matrix .MatrixTable td.AwardFlightCell
    {
	    border-bottom: solid 1px LightGrey;
	    padding: 2px;
    }

    .Matrix .FlightCell .SegmentDiv
    {
	    float:left;
	    width:365px;
	    vertical-align:middle;
	    padding-top:1px;
	    padding-bottom:2px;
    }

    .Matrix .AwardFlightCell .SegmentDiv
    {
	    float:left;
	    width:335px;
	    vertical-align:middle;
	    padding-top:1px;
	    padding-bottom:2px;
    }

    .Matrix .Price
    {
        color: #00245a;
    }

    .Matrix .PriceCell
    {
        vertical-align: bottom;
        font-weight: bold;
        font-size: 1.08em;
        color: #00245a;
        text-align: center;
    }

    .Matrix .PriceCell label.Disabled
    {
        color: $gray;
        font-style: italic;
        font-weight: normal;
        cursor: default;
    }

    .MatrixTable td.SelectedHighlight
    {
        background-color: white !important;
        border: 2px solid #4770a2 !important;
    }

    .KeyTokens
    {
        float: left;
    }

    .MatrixTable td div.SeatsRemainingDiv
    {
        color: black;
        text-align: center;
        padding-top: 3px;
    }

    .navLinks
    {
        float: right;
        text-align: right;
    }

    .navLinks a, #helperLinks a, .ShowAllFlights.lastSlice
    {
	    display: block;
	    margin-bottom: 10px;
    }

    .Matrix .Hidden,
    #UpgradeFilter .Hidden,
    #FareDescriptionPopup .Hidden
    {
        display: none;
    }

    .Matrix .contentNotices table
    {
        border: none;
        padding: 0 0 0 0;
        border-collapse: collapse;
    }
    .Matrix .contentNotices td
    {
        border: none;
        padding: 0 0 0 0;
        border-collapse: collapse;
    }

    #FareSummary
    {
        clear: both;
        margin-bottom: 5px;
        width: 130px;
    }

    .FareSummaryItin
    {
        border-bottom: solid 1px LightGrey;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .Legend .LegendHeader
    {
	    padding-bottom:7px;
    }

    .Legend .LegendItem
    {
	    float:left;
	    width:130px;
	    margin-bottom:5px;
	    padding-top:5px;
    }

    .Legend .Icon
    {
        float: left;
        width: 18px;
    }

    .Legend .Details
    {
        float: left;
        width: 112px;
        text-align: left;
    }

    .Matrix .CarrierName
    {
        float: left;
        width: 73px;
        overflow-x: hidden;
        vertical-align: middle;
        line-height: 20px;
        cursor: default;
    }

    .Filters, .Legend
    {
        padding-bottom: 15px;
        clear: both;
    }

    .Filter
    {
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
    }

    .Filter .Icon
    {
	    margin-right: 3px;
	    margin-left: -2px
    }

    .Filter .LegendIcon
    {
	    margin-right: 3px;
    }

    .StationFilterHeader
    {
        float: left;
        margin: 8px 0 8px 0;
        font-weight: bold;
        width:130px;
    }

    .Matrix .FlightCarrierImage, .Matrix .FlightNumber, .Matrix .FlightTimeContainer, .Matrix .FlightTime, .Matrix .FlightTimeDayChange
    {
	    float:left;
    }

    .Matrix .FlightCarrierImage
    {
        width: 50px;
        min-height: 20px;
    }

    .Matrix .FlightNumber
    {
        width: 30px;
        margin-left: 2px;
        margin-right: 2px;
        line-height: 20px;
        min-height: 20px;
    }

    .Matrix .PowerImage,
    .Matrix .USBImage,
    .Matrix .WifiImage
    {
	    float:left;
	    width:20px;
	    padding-top:1px;
    }

    .Matrix .FlightTimeContainer
    {
        min-height: 20px;
        line-height: 20px;
    }

    .Matrix .FlightTime
    {
        width: 59px;
        min-height: 20px;
        line-height: 20px;
    }

    .Matrix .FlightTimeDayChange
    {
        width: 59px;
	    min-height:20px;
	    line-height:20px;
	    color:#A00;
    }

    .Bundled .FlightTimeDayChange
    {
        float:left;
        width: 130px;
	    min-height:20px;
	    line-height:20px;
	    vertical-align:middle;
	    text-align:center;
	    color:#A00;
    }

    .FlightLoadImage
    {
        float: right;
        min-height: 20px;
        line-height: 20px;
        vertical-align: middle;
    }

    .FareSummaryValues
    {
        float: right;
        text-align: right;
    }

    .NoBorder
    {
        border-style: none;
    }

    .MatrixHeader .h1
    {
	    font-size: 1.17em;
	    font-weight: bold;
	    margin-top: 10px
    }

    .MatrixHeader .h2
    {
	    float:left;
	    width: 97px;
    }
    .MatrixHeader .h2n
    {
	    float:left;
	    width: 77px;
    }

    .Awards .MatrixHeader .h2
    {
	    width: 88px;
	    line-height: 14px;
	    padding-top: 2px;
    }

    .Awards .MatrixHeader .h2.OneLine
    {
	    padding-top: 9px;
    }

    .Awards .MatrixHeader.FlightInfo .h2
    {
	    width: 68px;
    }

    .MatrixHeader .BlueGradient,
    .MatrixHeader .BrownGradient,
    .MatrixHeader .GreenGradient,
    .MatrixHeader .GreyGradient
    {
	    border:1px solid #EDEDED;
	    -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;
	    color: #00245A;
	    float:left;
    }

    .MatrixHeader .BlueGradient,
    .MatrixHeader .BrownGradient,
    .MatrixHeader .GreenGradient
    {
	    height:50px;
    }

    .MatrixHeader .GreyGradient
    {
	    height:30px;
	    padding-top:20px;
    }

    .Awards .MatrixHeader .BlueGradient,
    .Awards .MatrixHeader .BrownGradient,
    .Awards .MatrixHeader .GreenGradient
    {
	    height:60px;
    }

    .Awards .MatrixHeader .GreyGradient
    {
	    height:30px;
	    padding-top:30px;
    }

    .MatrixHeader .BlueGradient
    {
	    text-align: center;
	    background: #dae2ec; /* Old browsers */
	    background: -moz-linear-gradient(top, #dae2ec 0%, #b5c6da 100%); /* FF3.6+ */
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dae2ec), color-stop(100%,#b5c6da)); /* Chrome,Safari4+ */
	    background: -webkit-linear-gradient(top, #dae2ec 0%, #b5c6da 100%); /* Chrome10+,Safari5.1+ */
	    background: -o-linear-gradient(top, #dae2ec 0%, #b5c6da 100%); /* Opera 11.10+ */
	    background: -ms-linear-gradient(top, #dae2ec 0%, #b5c6da 100%); /* IE10+ */
	    background: linear-gradient(to bottom, #dae2ec 0%, #b5c6da 100%); /* W3C */
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dae2ec', endColorstr='#b5c6da',GradientType=0);/*IE6-9*/
    }

    .MatrixHeader .BrownGradient
    {
	    text-align: center;
	    background: #ebe0d2; /* Old browsers */
	    background: -moz-linear-gradient(top, #ebe0d2 0%, #d7c0a6 100%); /* FF3.6+ */
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebe0d2), color-stop(100%,#d7c0a6)); /* Chrome,Safari4+ */
	    background: -webkit-linear-gradient(top, #ebe0d2 0%, #d7c0a6 100%); /* Chrome10+,Safari5.1+ */
	    background: -o-linear-gradient(top, #ebe0d2 0%, #d7c0a6 100%); /* Opera 11.10+ */
	    background: -ms-linear-gradient(top, #ebe0d2 0%, #d7c0a6 100%); /* IE10+ */
	    background: linear-gradient(to bottom, #ebe0d2 0%, #d7c0a6 100%); /* W3C */
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebe0d2', endColorstr='#d7c0a6',GradientType=0);/*IE6-9*/
    }
    .MatrixHeader .GreenGradient
    {
	    text-align: center;
	    background: #f1f6ec; /* Old browsers */
	    background: -moz-linear-gradient(top, #f1f6ec 0%, #dfe8c2 100%); /* FF3.6+ */
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f6ec), color-stop(100%,#dfe8c2)); /* Chrome,Safari4+ */
	    background: -webkit-linear-gradient(top, #f1f6ec 0%, #dfe8c2 100%); /* Chrome10+,Safari5.1+ */
	    background: -o-linear-gradient(top, #f1f6ec 0%, #dfe8c2 100%); /* Opera 11.10+ */
	    background: -ms-linear-gradient(top, #f1f6ec 0%, #dfe8c2 100%); /* IE10+ */
	    background: linear-gradient(to bottom, #f1f6ec 0%, #dfe8c2 100%); /* W3C */
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f6ec', endColorstr='#dfe8c2',GradientType=0);/*IE6-9*/
    }

    .MatrixHeader .GreyGradient
    {
	    background: #e5e5e5; /* Old browsers */
	    background: -moz-linear-gradient(top, #fefefe 0%, #e5e5e5 100%); /* FF3.6+ */
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	    background: -webkit-linear-gradient(top, #fefefe 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	    background: -o-linear-gradient(top, #fefefe 0%, #e5e5e5 100%); /* Opera 11.10+ */
	    background: -ms-linear-gradient(top, #fefefe 0%, #e5e5e5 100%); /* IE10+ */
	    background: linear-gradient(to bottom, #fefefe 0%, #e5e5e5 100%); /* W3C */
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#e5e5e5',GradientType=0);/*IE6-9*/
    }

    #fareDescriptionTable
    {
        border-collapse: collapse;
        border: none;
        background-color: #ffffff;
        margin-bottom: 15px;
        width: auto;
    }

    #FareDescriptionPopup .h2
    {
        width: 105px;
    }

    #fareDescriptionTable td
    {
        line-height: 15px;
        height: 30px;
        padding: 5px;
        width: 98px;
        color: #000000;
        border: solid 1px #6390bb;
        text-align: center;
        vertical-align: middle;
    }

    #fareDescriptionTable.awardTypes td
    {
        width: 80px;
    }

    #fareDescriptionTable td.FirstColumn
    {
	    width: 164px;
	    padding-left: 7px;
    }

    #fareDescriptionTable .FirstColumnText
    {
	    float: left;
	    padding-left: 6px;
	    text-align: left
    }

    #fareDescriptionTable .altRow td
    {
        background-color: #e6e7e1;
    }

    #fareDescriptionTable td.Selected
    {
        background-color: #d5dee8;
    }

    #fareDescriptionTable .altRow td.Selected
    {
        background-color: #c0c9cd;
    }

    .FareUpgradeInsertPointer
    {
	    display:none;
        width: 32px;
        height: 19px;
        background: url("/content/~/media/images/onsite/backgrounds/chart_pointer_up_SolidBorder.ashx") no-repeat;
        position: absolute;
        z-index: 121;
        margin-top: -7px;
    }

    .Matrix .UpgradeRow
    {
        float:left;
        padding: 0px 0px 15px 0px;
        border-style: none;
        border-width: 0px;
        background: white;
        vertical-align: middle;
    }

    .Matrix .FareUpgradeInsert
    {
	    border: 2px solid #BBB;
	    -moz-border-radius:5px;
	    -webkit-border-radius:5px;
	    border-radius: 5px;
	    -moz-box-shadow: 4px 3px 3px #BBB;
	    -webkit-box-shadow: 4px 3px 3px #BBB;
	    box-shadow:4px 3px 3px #BBB;
        float: left;
        clear:both;
        margin: 10px 0 0 5px;
        padding: 10px;
        width: 750px;
    }

    .upsell-text-wide {float:left;padding: 0 10px 0 5px; width:190px;}
    .upsell-text {float:left;padding: 0 10px 0 5px; width:125px;}
    .upsell-text-narrow {float:left;padding: 0 10px 0 5px; width:90px;}
    .upsell-icon-nofee, .upsell-icon-refund, .upsell-icon-bags, .upsell-icon-br, .upsell-icon-drink, .upsell-icon-dige, .upsell-icon-seats, .upsell-icon-upgrade, .upsell-icon-bonusmiles, .upsell-icon-boarding, .upsell-icon-sameday
    {
	    background: url("https://resource.alaskaair.net/content/~/media/Images/onSite/icons/upgrade-icons") no-repeat;
	    float:left;
	    height: 30px;
	    width: 30px;
    }

    .upsell-icon-refund {background-position: -30px 0;}
    .upsell-icon-bags{background-position: -60px 0;}
    .upsell-icon-br{background-position: -90px 0;}
    .upsell-icon-drink{background-position: -120px 0;}
    .upsell-icon-dige{background-position: -150px 0;}
    .upsell-icon-seats{background-position: -180px 0;}
    .upsell-icon-upgrade{background-position: -210px 0;}
    .upsell-icon-bonusmiles{background-position: -240px 0;}
    .upsell-icon-boarding{background-position: -270px 0;}
    .upsell-icon-sameday{background-position: -300px 0;}

    .FareUpgradeInsert .Header
    {
        font-weight: bold;
        font-size: 14px;
        color: #000066;
        line-height: 16px;
        margin: 0 0 8px 0;
    }

    .FareUpgradeInsert .DotLine
    {
	    height:5px;
	    margin:5px 0;
        background: url(/content/~/media/images/onsite/backgrounds/popup_dotted.ashx) repeat-x;
        width: 725px;
    }

    .ShoulderBar
    {
	    clear: both;
        width: 782px;
        height: 85px;
        margin-bottom: 5px;
        text-align:center;
    }

    .Shoulder, .ShoulderDisabled, .ShoulderSpan
    {
        width: 86px;
        height: 62px;
    }

    .Shoulder, .ShoulderDisabled
    {
        background: url(/content/~/media/images/onsite/backgrounds/shoulder_tab_u.ashx) repeat-x bottom;
        border: 0;
        padding: 0;
    }

    .ShoulderSpan
    {
        border-right: solid 1px #ededed;
        float: left;
        margin: 23px 0 0 0;
    }

    .Shoulder
    {
        cursor: pointer;
        font: normal 12px Arial,Helvetica,sans-serif;
    }

    .ShoulderDisabled
    {
        border-right: solid 1px #ededed;
        cursor: default;
        float: left;
        margin: 23px 0 0 0;
    }

    .ShoulderSelected
    {
        float: left;
        width: 181px;
        height: 85px;
        background: url(/content/~/media/images/onsite/backgrounds/shoulder_selected.ashx) repeat-x bottom;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .ShoulderLeftArrow, .ShoulderLeftArrowSpan, .ShoulderRightArrow, .ShoulderLeftArrowDisabled, .ShoulderRightArrowDisabled
    {
        width: 38px;
        height: 62px;
    }

    .ShoulderRightArrow, .ShoulderLeftArrowDisabled, .ShoulderRightArrowDisabled
    {
        background: no-repeat bottom;
        float: left;
        margin: 23px 0 0 0;
        padding: 0;
        border: 0;
    }

    .ShoulderLeftArrowSpan
    {
        float: left;
        margin: 23px 0 0 0;
        border-right: solid 1px #ededed;
    }

    .ShoulderLeftArrow
    {
        background: url(/content/~/media/images/onsite/buttons/shoulder_arrow_L.ashx) no-repeat bottom;
        border: 0;
        padding: 0;
        cursor: pointer;
    }

    .ShoulderRightArrow
    {
        background-image: url(/content/~/media/images/onsite/buttons/shoulder_arrow_R.ashx);
        cursor: pointer;
    }

    .ShoulderLeftArrowDisabled
    {
        background-image: url(/content/~/media/images/onsite/buttons/shoulder_arrow_L_U.ashx);
        border-right: solid 1px #ededed;
        cursor: default;
    }

    .ShoulderRightArrowDisabled
    {
        background-image: url(/content/~/media/images/onsite/buttons/shoulder_arrow_R_U.ashx);
        cursor: default;
    }

    .Shoulder .Month
    {
        margin-top: 5px;
        color: #424242;
    }

    .Shoulder .Day
    {
        font-weight: bold;
        font-size: 13px;
        color: #01194c;
    }

    .Shoulder .Price
    {
        color: #424242;
    }

    .ShoulderDisabled .Month, .ShoulderDisabled .Day
    {
	    color: gray;
    }

    .ShoulderDisabled .Month
    {
        margin-top: 10px;
    }

    .ShoulderDisabled .Day
    {
        font-weight: bold;
        font-size: 13px;
    }

    .ShoulderSelected .Month
    {
        font-weight: bold;
        font-size: 13px;
        color: #01194c;
        margin-top: 25px;
        margin-bottom: 2px;
    }

    .ShoulderSelected .Price
    {
        font-weight: bold;
        color: #424242;
    }

    .Bundled .TableHeader a
    {
	    font-weight:bold;
	    font-size: 15px;
	    color:#01194c;
    }

    .Bundled table
    {
	    float:left;
	    margin-bottom: 5px;
	    padding: 10px 0 10px 0;
	    border:solid 1px #999999;
	    width:782px;
	    border-collapse:collapse;
    }

    .Bundled table th
    {
	    padding: 10px 0 10px 5px;
	    margin:0 0 0 0;
	    border:solid 1px #999999;
	    background:$lightersand;
	    vertical-align:top;
	    text-align:left;
	    font-weight:bold;
	    font-size: 13px;
	    color:#01194c;
    }

    .Bundled table td
    {
	    padding: 5px 0 3px 0;
	    margin:0 0 0 0;
	    border:solid 1px #999999;
	    background:white;
	    vertical-align:middle;
    }

    .Bundled .contentNotices table
    {
        border: none;
        padding: 0 0 0 0;
        border-collapse: collapse;
    }
    .Bundled .contentNotices td
    {
        border: none;
        padding: 0 0 0 0;
        border-collapse: collapse;
    }

    .BundledFirstColumn
    {
	    width: 592px;
	    text-align:left;
	    border-bottom:0px !important;
    }

    .Bundled .FareColumn
    {
        width: 177px;
        vertical-align: top;
        border-bottom:0px !important;
        text-align: center;
        padding-left: 2px;
        padding-right: 2px;
    }

    .Bundled .FirstRowColumn
    {
        background-color:$lightersand;
        border-top:0px !important;
        padding-top:0px !important;
        padding-left:5px;
    }

    .Bundled .FlightCarrierImage
    {
	    float: left;
	    width: 50px;
	    min-height:20px;
	    vertical-align:middle;
	    padding-right:10px;
    }

    .Bundled .FlightNumber
    {
        float: left;
        width: 30px;
        margin-left: 3px;
        margin-right: 3px;
        line-height: 20px;
        min-height: 20px;
        vertical-align: middle;
    }

    .Bundled .FlightTime
    {
        min-height:20px;
	    line-height:20px;
	    vertical-align:middle;
        width:130px;
        text-align:center;
    }

    .Bundled .City
    {
	    float: left;
	    width: 25px;
	    margin-left:2px;
	    margin-right:6px;
	    line-height:20px;
	    min-height:20px;
	    vertical-align:middle;
    }

    .Bundled .ClassOfService
    {
	    float: left;
	    width: 57px;
	    line-height:20px;
	    min-height:20px;
	    vertical-align:middle;
    }

    .Bundled .FlightTimeContainer
    {
	    min-height:20px;
	    line-height:20px;
	    vertical-align:middle;
	    width:165px;
    }

    .Bundled .FlightCell
    {
	    vertical-align:top;
	    padding-left:5px;
	    padding-bottom:5px;
    }

    .Bundled .PriceCell
    {
	    vertical-align:top;
	    font-weight:bold;
	    font-size: 12px;
	    color:#a96221;
	    text-align:center;
	    vertical-align:top;
	    cursor:default;
    }

    .Bundled .Total
    {
	    vertical-align:top;
	    font-size: .92em;
	    color:#424242;
	    font-weight:normal;
    }

    .Bundled .TextRC201
    {
        float: left;
        width: 70px;
        text-align: right;
        color: black;
        font-weight:normal;
    }

    .Bundled .TaxRC201
    {
        float: left;
        width: 70px;
        text-align: right;
        font-weight:normal;
    }

    .Bundled .PriceRC201
    {
        float:left;
        text-align: right;
        width:70px;
    }

    table.MatrixTable .FirstRowColumn
    {
        background-color:#c0d1e8;
        border-top:0px !important;
        padding-top:0px !important;
    }

    table.Details
    {
        width: 615px;
        background-color: #ffffff;
        text-align: left;
        border: none;
        float:none;
    }

    table.Details th
    {
        font-weight: normal;
        background: #ffffff;
        text-align: left;
        padding: 0 5px 10px 5px;
        font-weight: bold;
        font-size: 13px;
        border:none;
    }

    table.Details td
    {
	    font-weight:normal;
	    background: #ffffff;
	    text-align: left;
	    vertical-align:middle;
	    height:20px;
	    padding: 0 5px 0 5px;
	    border:none;
    }

    div.OptionDetails
    {
        width:615px;
        padding-bottom:5px;
    }

    #BundledLeftColumn
    {
        float: left;
        margin-right: 9px;
        width: 130px;
    }

    #BundledResultColumn
    {
        float: left;
        border-left: 1px solid LightGrey;
        padding-left: 10px;
        width: 782px;
    }

    .Bundled .newFlightCallOut
    {
	    font:11px Verdana, Arial, Helvetica, sans-serif;
	    background:#eee0d3;
        width:450px;
        text-align:center;
        margin-left: 70px;
    }

    .Bundled .confirmedFlightCallOut
    {
        font: 11px Verdana, Arial, Helvetica, sans-serif;
        width: 450px;
        text-align: center;
        margin-left: 70px;
    }

    #CalendarLeftColumn
    {
        float: left;
        padding-right: 10px;
        width: 135px;
        border-right: 1px solid LightGrey;
        min-height: 260px;
    }

    #CalendarResultColumn
    {
        float: left;
        width: 764px;
        margin-left: 20px;

    }

    .Calendar
    {
        width: 353px;
        float:left;
        box-sizing: border-box;
        font-family: $font-family-base;
    }

    .calBanner
    {
        width: 353px;
        float:left;
    }

    .calBannerContents
    {
        font-size: 12pt;
        font-weight: bold;
        color: $navy;
        margin: .58em 1.3em .58em 0;
    }

    .calBanner.Departure {}

    .Calendar.Return {
        padding-left: 9px;
    }

    .calAlignDepart
    {
        float:left;
        width: 353px;
        text-align:left;
        margin-left:-1px;
    }

    .calAlignReturn
    {
        float:left;
        width: 353px;
        margin-left:-1px;
    }
    .calContainer
    {
        background-color: $white;
        width: 344px;
        table-layout: fixed;
        box-sizing: border-box;
    }

    .calSpacer
    {
        background-color: $white;
        //border-collapse:collapse;
        border-spacing: 2px;
    }

    th.caldayofweek
    {
        color: $navy;
        width: 46px;
        font-size: 10pt;
        vertical-align: bottom;
        text-align: center;
        background-color: $white;
        font-weight: bold;
    }

    td.calpastday, td.calday
    {
        background-color: $gray-ddd;
        height:36px;
    }

    td.calpastday.calNoAvail, td.calpastday, td.calday {
        text-align: center;
        vertical-align: middle;
    }

    td.calpastday, td.calday {
        position:relative;
    }

    td.calpastday.calNoAvail, td.calpastday .calNoAvail, td.calday .calNoAvail
    {
        font-size: 14pt;
        font-weight: normal;
    }

    td.caldaysale
    {
        background-color:$white;
        width: 46px;
    }

    td.caldaylowestfare
    {
        background-color:$white;
        width: 46px;
    }

    td.caldaystandardfare
    {
        background-color: $whitesand;
        width: 46px;
    }

    .caldayDate
    {
        color: #474747;
        width: 99%;
        font-size:9pt;
        font-weight:bold;
        text-align:left;
    }

    .caldayPrice, .caldayPrice.priceHover, .caldayPrice.priceSelected
    {
	    font-size: 10pt;
        font-weight:normal;
	    text-align:center;
	    line-height: 1.2em;
	    width:99%;
    }

    .caldayPrice
    {
        color: $navy;
    }

    a.caldayItem {
        text-decoration:none;
        display:block;
    }

    .caldayPrice.priceHover, .caldayPrice.priceSelected
    {
        color: $navy;
        font-weight: normal;
    }

    .caldayStandard
    {
        border: 2px solid transparent;
        width: 42px;
    }

    .caldayStandard.dayHover, .caldayStandard.daySelected {
        width: 42px;
    }

    td.caldaylowestfare .caldayStandard {
        border: 2px solid #9abccb;
    }

    td.caldaysale .caldayStandard {
        border: 2px solid #e37d38;
        background: $white url('//resource.alaskaair.net/~/media/Images/onSite/backgrounds/calendar_award_8x10.ashx') no-repeat 29px 0;
    }

    .caldayStandard.dayHover, td.caldaylowestfare .caldayStandard.dayHover, td.caldaysale .caldayStandard.dayHover {
        border: 2px solid $navy;
    }

    .caldayStandard.dayHover.daySelected, td.caldaylowestfare .caldayStandard.dayHover.daySelected, td.caldaysale .caldayStandard.dayHover.daySelected,
    .caldayStandard.daySelected, td.caldaylowestfare .caldayStandard.daySelected, td.caldaysale .caldayStandard.daySelected {
        border: 2px solid $blue;
    }

    td.caldaysale .caldayStandard.dayHover {
        border: 2px solid $navy;
        background: $white url('//resource.alaskaair.net/~/media/Images/onSite/backgrounds/calendar_award_8x10.ashx') no-repeat 29px 0;
    }

    td.caldaysale .caldayStandard.dayHover.daySelected,
    td.caldaysale .caldayStandard.daySelected {
        border: 2px solid $blue;
        background-image: none;
        background-color: $blue;
    }

    .caldayStandard.dayHover
    {
	    cursor:pointer;
    }
    .caldayStandard.daySelected
    {
	    cursor: default;
        background-color:$blue;
    }
    .caldayStandard.daySelected .caldayDate, .caldayStandard.daySelected .priceSelected {
        color: $white;
    }

    .caldayStandard.daySelected .priceSelected {
        font-weight:bold;
    }

    td.calday .caldayStandard, td.calpastday .caldayStandard {
        position:absolute;
        left:0;
        top:0;
    }

    .calendarDetails
    {
        padding-left: 7px;
        width: 94px;
        text-align: left;
        display:table-cell;
        vertical-align:middle;
    }

    .AwardSubHeader
    {
        float: left;
        font-weight: bold;
        color: #000066;
        margin-bottom: 5px;
        margin-top: 8px;
    }

    .legend-selected, .legend-sale, .legend-notavailable, .legend-lowestfare
    {
        text-align: center;
        display:table-cell;
        vertical-align:middle;
    }

    /* has no borders*/
    .legend-selected, .legend-notavailable {
        height: 21px;
        width: 29px;
    }

    /* has 1 px borders*/
    .legend-sale, .legend-lowestfare {
        height: 19px;
        width: 27px;
    }

    .legend-selected
    {
        background-color: $blue;
    }
    .legend-sale
    {
        border: 1px solid #e37d38;
        background: $white url('//resource.alaskaair.net/~/media/Images/onSite/backgrounds/lgnd_calendar_award_7x9.ashx') no-repeat 16px 0;
    }
    .legend-notavailable
    {
        background-color: $gray-ddd;
    }

    .legend-notavailable div:after {
        content: "\2613";
    }

    .legend-notavailable div::after {
        content: "\2613";
    }

    .legend-lowestfare
    {
        background-color: $white;
        border: solid 1px #9abccb;
    }
    }

    @media print
    {
	    #MatrixLeftColumn, #BundledLeftColumn, #pshopping-container, .navLinks, .Shoulder, .ShoulderSpan, .ShoulderDisabled,
	    .ShoulderRightArrow, .ShoulderRightArrowDisabled, .ShoulderLeftArrow, .ShoulderLeftArrowSpan, .ShoulderLeftArrowDisabled {display:none !important;}

	    #topModule, .MatrixTable, #MatrixResultColumn{ float:none !important; margin: 0 !important; width:100% !important;}
	    #MatrixResultColumn {border:0; padding:0;}
	    .ShoulderBar{height: auto !important;}
	    .ShoulderSelected {float:none;height: auto !important; width: 100% !important;}
	    .ShoulderSelected .Month, .ShoulderSelected .Price { float:left !important; margin: 0 !important; padding-left: 5px;}
	    .Matrix .FlightCell {width: 350px !important;}
	    .Matrix .AwardFlightCell, .Matrix .AwardFlightCell .SegmentDiv {width: 345px !important;}
	    .FlightTime, .FlightTimeDayChange {padding-left: 2px; width: 70px !important;}
	    .FlightNumber {width: 32px !important;}
	    .Matrix .Price{color: #000;}
    }

    .bubble-container
    {
        overflow:auto;
        margin-top:10px;
    }

    .bubble-image
    {
        float:left;
    }

    .bubble-text
    {
        margin-left:20px;
        float:left;
        width:250px;
    }

    .FlightNumber .a11y-sup {
        margin: 0;
        padding: 0;
        text-decoration: none;
        color: #666;
        cursor: default;
    }
}
