 .containerx .cellborder
{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.containerx .Matrix .Price, .containerx .MatrixTable td div.SeatsRemainingDiv
{
    color: #0E2B51 !important;
    font-family: Atlas, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.containerx .MatrixTable td.SelectedHighlight
{
    border: 1px solid #FFF !important;
}

#FareDescriptionPopup .MatrixHeader
{
    border-bottom: none;
}

#FareDescriptionPopup .MatrixHeader > div
{
    float: left;
}

#FareDescriptionPopup .MatrixHeader .h1, #FareDescriptionPopup .MatrixHeader .h2
{
    text-align: center;
    margin: 4px 0px;
}

.containerx .MatrixHeader .GreyGradient, .containerx .MatrixHeader .BlueGradient, .containerx .MatrixHeader .GreenGradient, .containerx .MatrixHeader .BrownGradient
{
    border: 0px !important;
    background: none;
    filter: none;
}

.containerx .MatrixHeader .h2, .containerx .MatrixHeader .h2n
{
    color: #666;
}

.containerx .MatrixHeader
{
    border-bottom: 1px solid lightgrey;
    margin-bottom: 2px;
    padding-bottom: 3px;
}

.containerx .MatrixTable .cellFill
{
    border: 4px solid red;
}
.containerx .MatrixTable td
{
    border-right: 1px solid white !important;
}
.containerx .MatrixTable .spacer td
{
    padding: 1px 0px;
}
.containerx .MatrixTable .spacer td div
{
    background: lightgrey;
    width: 100%;
    height: 1px;
}

.containerx .MatrixTable td.ValueColumn,
.containerx .MatrixTable td.BestDealColumn,
.containerx .MatrixTable td.FullFlexColumn,
.containerx .MatrixTable td.CoachAwardColumn,
.containerx .MatrixTable td.CoachFullFlexColumn
{
    background-color: #9ABCCB !important;
    position: relative;
}

.containerx .MatrixTable td.ValueColumn.LowestPrice,
.containerx .MatrixTable td.BestDealColumn.LowestPrice,
.containerx .MatrixTable td.FullFlexColumn.LowestPrice,
.containerx .MatrixTable td.CoachAwardColumn.Lowestprice,
.containerx .MatrixTable td.CoachFullFlexColumn.LowestPrice
{
    background: none !important;
    background-color: #FFF !important;
    filter: none;
    position: relative;
}

.containerx .MatrixTable td.ValueColumn.SelectedHighlight,
.containerx .MatrixTable td.BestDealColumn.SelectedHighlight,
.containerx .MatrixTable td.FullFlexColumn.SelectedHighlight,
.containerx .MatrixTable td.CoachAwardColumn.SelectedHighlight,
.containerx .MatrixTable td.CoachFullFlexColumn.SelectedHighlight
{
    background-color: #00567e !important;
}
.containerx .MatrixTable td.ValueColumn.SelectedHighlight .Price,
.containerx .MatrixTable td.BestDealColumn.SelectedHighlight .Price,
.containerx .MatrixTable td.FullFlexColumn.SelectedHighlight .Price,
.containerx .MatrixTable td.CoachAwardColumn.SelectedHighlight .Price,
.containerx .MatrixTable td.CoachFullFlexColumn.SelectedHighlight .Price,
.containerx .MatrixTable td.SelectedHighlight div.SeatsRemainingDiv
{
    color: #FFF !important;
}

.containerx .MatrixTable td.ValueColumn.LowestPrice .cellborder,
.containerx .MatrixTable td.BestDealColumn.LowestPrice .cellborder,
.containerx .MatrixTable td.FullFlexColumn.LowestPrice .cellborder,
.containerx .MatrixTable td.CoachAwardColumn.LowestPrice .cellborder,
.containerx .MatrixTable td.CoachFullFlexColumn.LowestPrice .cellborder
{
    border: 2px solid #9ABCCB !important;
    display: block;
}
.containerx .MatrixTable td.ValueColumn.LowestPrice.SelectedHighlight .cellborder,
.containerx .MatrixTable td.BestDealColumn.LowestPrice.SelectedHighlight .cellborder,
.containerx .MatrixTable td.FullFlexColumn.LowestPrice.SelectedHighlight .cellborder,
.containerx .MatrixTable td.CoachAwardColumn.LowestPrice.SelectedHighlight .cellborder,
.containerx .MatrixTable td.CoachFullFlexColumn.LowestPrice.SelectedHighlight .cellborder
{
    border: 2px solid #00567e !important;
}
.containerx .MatrixTable td.ValueColumn.Selectable:hover,
.containerx .MatrixTable td.BestDealColumn.Selectable:hover,
.containerx .MatrixTable td.FullFlexColumn.Selectable:hover,
.containerx .MatrixTable td.CoachAwardColumn.Selectable:hover,
.containerx .MatrixTable td.CoachFullFlexColumn.Selectable:hover
{
    background: #FFF !important;
}
.containerx .MatrixTable td.ValueColumn.Selectable:hover .cellborder,
.containerx .MatrixTable td.BestDealColumn.Selectable:hover .cellborder,
.containerx .MatrixTable td.FullFlexColumn.Selectable:hover .cellborder,
.containerx .MatrixTable td.CoachAwardColumn.Selectable:hover .cellborder,
.containerx .MatrixTable td.CoachFullFlexColumn.Selectable:hover .cellborder
{
    border: 2px solid #00567e !important;
    display: block;
}
.containerx .MatrixTable td.ValueColumn:hover .Price,
.containerx .MatrixTable td.BestDealColumn:hover .Price,
.containerx .MatrixTable td.FullFlexColumn:hover .Price,
.containerx .MatrixTable td.CoachAwardColumn:hover .Price,
.containerx .MatrixTable td.CoachFullFlexColumn:hover .Price,
.containerx .MatrixTable td:hover div.SeatsRemainingDiv
{
    color: #0e2b51 !important;
}

.containerx .MatrixTable td.ValueColumn.SelectedHighlight:hover,
.containerx .MatrixTable td.BestDealColumn.SelectedHighlight:hover,
.containerx .MatrixTable td.FullFlexColumn.SelectedHighlight:hover,
.containerx .MatrixTable td.CoachAwardColumn.SelectedHighlight:hover,
.containerx .MatrixTable td.CoachFullFlexColumn.SelectedHighlight:hover
{
    background-color: #00567e !important;
}
.containerx .MatrixTable td.ValueColumn.SelectedHighlight:hover .Price,
.containerx .MatrixTable td.BestDealColumn.SelectedHighlight:hover .Price,
.containerx .MatrixTable td.FullFlexColumn.SelectedHighlight:hover .Price,
.containerx .MatrixTable td.CoachAwardColumn.SelectedHighlight:hover .Price,
.containerx .MatrixTable td.CoachFullFlexColumn.SelectedHighlight:hover .Price,
.containerx .MatrixTable td.SelectedHighlight:hover div.SeatsRemainingDiv
{
    color: #FFF !important;
}

.containerx .MatrixTable td.FirstClassColumn,
.containerx .MatrixTable td.FirstClassDealColumn,
.containerx .MatrixTable td.FirstAwardColumn,
.containerx .MatrixTable td.FirstFullFlexColumn
{
    background-color: #BCDFDA !important;
}
.containerx .MatrixTable td.FirstClassColumn.Selectable:hover,
.containerx .MatrixTable td.FirstClassDealColumn.Selectable:hover,
.containerx .MatrixTable td.FirstAwardColumn.Selectable:hover,
.containerx .MatrixTable td.FirstFullFlexColumn.Selectable:hover
{
    background: #FFF !important;
}

.containerx .MatrixTable td.FirstClassColumn.LowestPrice,
.containerx .MatrixTable td.FirstClassDealColumn.LowestPrice,
.containerx .MatrixTable td.FirstAwardColumn.LowestPrice,
.containerx .MatrixTable td.FirstFullFlexColumn.LowestPrice
{
    background: none !important;
    background-color: #FFF !important;
    filter: none;
    position: relative;
}
.containerx .MatrixTable td.FirstClassDealColumn.Selectable:hover,
.containerx .MatrixTable td.FirstClassColumn.Selectable:hover,
.containerx .MatrixTable td.FirstAwardColumn.Selectable:hover,
.containerx .MatrixTable td.FirstFullFlexColumn.Selectable:hover
{
    background-color: #FFF !important;
    position: relative;
}
.containerx .MatrixTable td.FirstClassDealColumn:hover .Price,
.containerx .MatrixTable td.FirstClassColumn:hover .Price,
.containerx .MatrixTable td.FirstAwardColumn:hover .Price,
.containerx .MatrixTable td.FirstFullFlexColumn:hover .Price
{
    color: #0E2B51 !important;
}

.containerx .MatrixTable td.FirstClassDealColumn.LowestPrice .cellborder,
.containerx .MatrixTable td.FirstClassColumn.LowestPrice .cellborder,
.containerx .MatrixTable td.FirstAwardColumn.LowestPrice .cellborder,
.containerx .MatrixTable td.FirstFullFlexColumn.LowestPrice .cellborder
{
    border: 2px solid #BCDFDA !important;
    display: block;
}
.containerx .MatrixTable td.FirstClassDealColumn.Selectable:hover .cellborder,
.containerx .MatrixTable td.FirstClassColumn.Selectable:hover .cellborder,
.containerx .MatrixTable td.FirstAwardColumn.Selectable:hover .cellborder,
.containerx .MatrixTable td.FirstFullFlexColumn.Selectable:hover .cellborder
{
    border: 2px solid #53a79b !important;
    display: block;
}
.containerx .MatrixTable td.FirstClassDealColumn:hover .Price,
.containerx .MatrixTable td.FirstClassColumn:hover .Price,
.containerx .MatrixTable td.FirstAwardColumn:hover .Price,
.containerx .MatrixTable td.FirstFullFlexColumn:hover .Price
{
    color: #0e2b51 !important;
}
.containerx .MatrixTable td.FirstClassColumn.SelectedHighlight,
.containerx .MatrixTable td.FirstClassDealColumn.SelectedHighlight,
.containerx .MatrixTable td.FirstAwardColumn.SelectedHighlight,
.containerx .MatrixTable td.FirstFullFlexColumn.SelectedHighlight,
.containerx .MatrixTable td.FirstClassColumn.SelectedHighlight:hover,
.containerx .MatrixTable td.FirstClassDealColumn.SelectedHighlight:hover,
.containerx .MatrixTable td.FirstAwardColumn.SelectedHighlight:hover,
.containerx .MatrixTable td.FirstFullFlexColumn.SelectedHighlight:hover
{
    background: #53a79b !important;
}
.containerx .MatrixTable td.FirstClassColumn.SelectedHighlight .cellborder,
.containerx .MatrixTable td.FirstClassDealColumn.SelectedHighlight .cellborder,
.containerx .MatrixTable td.FirstAwardColumn.SelectedHighlight .cellborder,
.containerx .MatrixTable td.FirstFullFlexColumn.SelectedHighlight .cellborder
{
    border: 2px solid #53a79b !important;
}
.containerx .MatrixTable td.FirstClassColumn.SelectedHighlight .Price,
.containerx .MatrixTable td.FirstClassDealColumn.SelectedHighlight .Price,
.containerx .MatrixTable td.FirstAwardColumn.SelectedHighlight .Price,
.containerx .MatrixTable td.FirstFullFlexColumn.SelectedHighlight .Price
{
    color: #FFF !important;
}

.containerx .MatrixTable td.FullFlexColumn.Brown,
.containerx .MatrixTable td.GuestUpgradableColumn,
.containerx .MatrixTable td.GoldUpgradableColumn,
.containerx .MatrixTable td.MVPUpgradableColumn,
.containerx .MatrixTable td.PremiumEconomyColumn,
.containerx .MatrixTable td.BusinessAwardColumn
{
    background-color: #b7cdb4 !important;
}
.containerx .MatrixTable td.FullFlexColumn.Brown.Selectable:hover,
.containerx .MatrixTable td.GuestUpgradableColumn.Selectable:hover,
.containerx .MatrixTable td.GoldUpgradableColumn.Selectable:hover,
.containerx .MatrixTable td.MVPUpgradableColumn.Selectable:hover,
.containerx .MatrixTable td.PremiumEconomyColumn.Selectable:hover,
.containerx .MatrixTable td.BusinessAwardColumn.Selectable:hover
{
    background-color: #FFF !important;
    position: relative;
}
.containerx .MatrixTable td.FullFlexColumn.Brown.Selectable:hover .cellborder,
.containerx .MatrixTable td.GuestUpgradableColumn.Selectable:hover .cellborder,
.containerx .MatrixTable td.GoldUpgradableColumn.Selectable:hover .cellborder,
.containerx .MatrixTable td.MVPUpgradableColumn.Selectable:hover .cellborder,
.containerx .MatrixTable td.PremiumEconomyColumn.Selectable:hover .cellborder,
.containerx .MatrixTable td.BusinessAwardColumn.Selectable:hover .cellborder
{
    border: 2px solid #4d803b !important;
    display: block;
}

.containerx .MatrixTable td.FullFlexColumn.Brown.SelectedHighlight,
.containerx .MatrixTable td.GuestUpgradableColumn.SelectedHighlight,
.containerx .MatrixTable td.GoldUpgradableColumn.SelectedHighlight,
.containerx .MatrixTable td.MVPUpgradableColumn.SelectedHighlight,
.containerx .MatrixTable td.PremiumEconomyColumn.SelectedHighlight,
.containerx .MatrixTable td.BusinessAwardColumn.SelectedHighlight,
.containerx .MatrixTable td.FullFlexColumn.Brown.SelectedHighlight:hover,
.containerx .MatrixTable td.GuestUpgradableColumn.SelectedHighlight:hover,
.containerx .MatrixTable td.GoldUpgradableColumn.SelectedHighlight:hover,
.containerx .MatrixTable td.MVPUpgradableColumn.SelectedHighlight:hover,
.containerx .MatrixTable td.PremiumEconomyColumn.SelectedHighlight:hover,
.containerx .MatrixTable td.BusinessAwardColumn.SelectedHighlight:hover
{
    background: #4d803b !important;
}
.containerx .MatrixTable td.FullFlexColumn.Brown.SelectedHighlight .Price,
.containerx .MatrixTable td.GuestUpgradableColumn.SelectedHighlight .Price,
.containerx .MatrixTable td.GoldUpgradableColumn.SelectedHighlight .Price,
.containerx .MatrixTable td.MVPUpgradableColumn.SelectedHighlight .Price,
.containerx .MatrixTable td.PremiumEconomyColumn.SelectedHighlight .Price,
.containerx .MatrixTable td.BusinessAwardColumn.SelectedHighlight .Price
{
    color: #FFF !important;
}

    /* This is the seatmap portion that is copied over from Seats.aspx */
    div.containerx .seatsShoulderLeftArrowSpan
    {
        margin-left: 4px;
    }
    div.containerx .seatsShoulderLeftArrow > span,
    div.containerx .seatsShoulderRightArrow > span
    {
        position: relative;
        top: -10px;
    }
    div.containerx .seatsShoulderLeftArrowDisabled img,
    div.containerx .seatsShoulderRightArrowDisabled img
    {
        margin-top: 22px;
    }
    div.containerx .seatsShoulderLeftArrow,
    div.containerx .seatsShoulderRightArrow,
    div.containerx .seatsShoulderLeftArrowDisabled,
    div.containerx .seatsShoulderRightArrowDisabled,
    div.containerx .seatsShoulder,
    div.containerx .seats-tablist .selected,
    div.containerx .seatsShoulderNoFlight1,
    div.containerx .seatsShoulderNoFlight2,
    div.containerx .seatsShoulderNoFlight3,
    div.containerx .seatsShoulderLeft,
    div.containerx .seatsShoulderRight
    {
        background: none;
        border: none;
        color: #0e2b51;
        height: 74px;
        filter: none;
    }
    div.containerx .seatsShoulder {
        border-bottom: 1px solid;
        width: 150px;
    }
    div.containerx .seats-tablist .selected {
        border-bottom: 5px solid;
        width: 150px;
    }
    div.containerx .seatsShoulderRightArrow {
        background: url(//resource.alaskaair.net/~/media/Images/onSite/buttons/arrow_right_navy_14x26.ashx) 10px 19px no-repeat;
    }
    div.containerx .seatsShoulderLeftArrow {
        background: url(//resource.alaskaair.net/~/media/Images/onSite/buttons/arrow_left_navy_14x26.ashx) 10px 19px no-repeat;
    }
    div.containerx .seatsShoulderRightArrowDisabled {
        background: url(//resource.alaskaair.net/~/media/Images/onSite/buttons/arrow_right_gray_14x26.ashx) 10px 19px no-repeat;
    }
    div.containerx .seatsShoulderLeftArrowDisabled {
        background: url(//resource.alaskaair.net/~/media/Images/onSite/buttons/arrow_left_gray_14x26.ashx) 10px 19px no-repeat;
    }
    div.containerx .seats-tablist .selected {
        margin-top: 23px;
    }
    div.containerx .seatsShoulder .FlightInfo,
    div.containerx .seats-tablist .selected .FlightInfo {
        color: #0e2b51;
        font-size: 14px;
        font-weight: bold;
        padding-top: 15px;
    }
    div.containerx .seatsShoulder .flight-info-number,
    div.containerx .seats-tablist .selected .flight-info-number {
        font-size: 12px;
        font-weight: normal;
    }
    div.containerx #slider {
        background: #e9e5dd;
        border-radius: 2px;
        border: none;
    }
    div.containerx #slider .ui-slider-handle,
    div.containerx #slider .ui-slider-handle:hover {
        background: #00567e;
        border-radius: 2px;
        border: none;
        color: #e9e5dd;
        cursor: pointer;
        margin-top: 4px;
    }
    div.containerx #slider .ui-slider-range-min {
        border: none;
        margin-top: 0;
    }
