.FloatRight
{
	FLOAT: right;	
}

.FloatLeft
{
	FLOAT: left;	
}

.WideContent
{
	width:99%;	
}

.UCTopBottomMargins
{
	margin-top:15px;
	margin-bottom:15px;	
}

.Disabled
{
	 color:GrayText;	
}

.UCCityPair
{
	float:left;
	width:180px;
	display:block;
}

.UCCityPairWide
{
	float:left;
	width:300px;
	padding-left:157px;
	display:block;
}

.UCTravelCitySelect
{
	float:left;
	display:block;
}

.UCTravelCitySelectWide
{
	float:left;
	display:block;
	width:300px;
}

.UCCityPairError
{
	position:relative;
	left:-157px;
	width:450px;
	display:block;
	clear:left;
}

.UCCityPairReissueError
{
	position:relative;
	width:100%;
	display:block;
	clear:left;
}

.UCTripTypes
{
	float:left;
	width:180px;
	display:block;
}

.UCTripTypesWide
{
	float:left;
	width:225px;
	padding-left:195px;
	display:block;
}

.UCTripDates
{
	float:left;
	width:401px;
	display:block;
}

.UCTipBox
{
	float:right;
}

.UCTravelDateTime
{
	float:left;
	width:180px;
	display:block;
}

.UCTravelDateTimeWide
{
	float:right;
	display:block;
	padding-left:127px;
}

.UCTravelDateTimeError
{
	position:relative;
	left:-124px;
	width:420px;
	display:block;
	white-space: normal;
}

.UCTravelDateTimeError2
{
	float:left;
	width:200px;
	padding-left:195px;
	display:block;
}

.UCAgreeTo
{
	float:left;
	width:450px;
}

.UCAgreeTo .Box
{
	padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 5px;
    padding-top: 2px;
    background-color: #d8e6f1;
    border-style: solid;
    border-width: 2px; 
    border-color: #81B0D1; 
    float:left;
    height:18px;
}

.CAPTCHA
{
    float:left;
	height:44px;
	width:159px;
}

.LeftColumn
{
	width:25%;
	text-align:right;
	float:left;
}
.LeftColumnNotRequiredField
{
	width:24%;
	padding-right:8px;
	text-align:right;
	float:left;
}
.LeftColumnStandardWidth
{
	width:32%;
	text-align:right;
	float:left;
}

.RightColumn
{
	width:25%;
	text-align:left;
	float:left;
}

.ASValidator
{
	float:left;
	width:95%;
	padding-bottom:3px;
	text-align:left;
}

.ASValidatorPadded
{
	float:left;
	width:95%;
	padding-bottom:10px;
	padding-top:5px;
}

.Formlet
{
	width:188px;
	padding-top:5px;
	padding-left:5px;
}

.Formlet .LeftColumn
{
	text-align:left;
	float:left;
	width:165px;
}

.Formlet .RightColumn
{
	text-align:left;
	float:left;
	width:165px;
}

.UCCaptchaControl
{
	float:left;	
	width: 550px;
}

.UCGoldMVPSearch
{
	PADDING-TOP: 5px;
	padding-left:10px;
}

.UCShopSearchType
{
	width:25%;
	text-align:left;
	float:left;
	padding-left:195px;
	display:block;
}

.ItineraryShort table th tr td
{
	border:solid 1px #e6edf6;
	background-color:Transparent;
}

.ItineraryShort .Cell
{
	border:solid 1px #e6edf6;
	background-color:Transparent;
	text-align:left;
	padding:  5px 15px 5px 15px; 
}

.ItineraryShort .Header
{
	border-top:solid 1px #e6edf6;
	border-left:solid 1px #e6edf6;
	border-right:solid 1px #e6edf6;
	border-bottom:solid 2px #c0d1e8;
	background-color:Transparent;
	padding: 5px 15px 5px 15px;  
	text-align:left;
}

.CancelIndent
{
	margin-left:56px;	
}