.header-logo {
  height: 40px;
  margin: 0 18px 0 0;
  &:hover {
    background-color: transparent;
  };
}

#hf-h {
  margin-bottom: 24px;
  background-color:$navy;
  color:$white;
}


#hf-nav {
  font-size: 14px;
  line-height: 24px;
  position: relative;
  margin: 0 auto;
  max-width: $smallestWidth;
  @media (min-width:$fullpageWidth) {max-width: $fullpageWidth;}
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  height: 75px;


  .pure-menu-children.pure-g {
    width: 100%;
    padding: 0px 0 0 30px;
    background-color:transparent;
    top:91px;
  }

  .pure-menu-item {
    vertical-align: top;
  }

  .pure-menu-link {
    background-color: transparent;

  }

  > .pure-menu-list {
    width: 100%;
    height: 100%;

    > .pure-menu-item {
      padding-top: 12px;
          @media (min-width:$smallestWidth) {

      padding-right: .445vw;
      padding-left: .445vw;
    }
      padding-left:20px;
      padding-right:20px;



      &:first-child {
        padding-top: 0px;

        a {
          padding-left: 0px;

        }
      }

      &.pure-menu-active > a {
        color: $white;
        border-bottom: 4px solid $white;
      }

      > a {
        border-bottom: 4px solid transparent;
        color: $white;
        margin-bottom: 0;
        padding-bottom:5px;

        &:hover, &:focus {
          background-color: transparent;
          transition: all 0.3s ease;
          text-decoration: none;
          border-bottom: 4px solid $white;
        }
      }
    }
  }

  h4 {
    font-size: 18px;
  }

  a.pure-menu-link {
    font-weight: bold;
    padding-left: .2vw;
    padding-right: .2vw;
    @media (min-width:$smallestWidth) {
      font-size: 19px;
      font-size: 2vw;
      padding-right: .445vw;
      padding-left: .445vw;
    }
    @media (min-width:991px) {
      font-size: 20px;
      padding-left: 18px;
      padding-right: 18px;
    }
    //as.com wordmark
    svg {
      width: 10vw;
    }
  }

  .pure-menu-children {
    position: absolute;
    margin-top: 1px;
  }

  .pure-menu-item {
    position: static;
  }

  .pure-menu-background {
    background: $navy;
    position: absolute;
    height: 336px;
    width: 20000px;
    top: -24px;
    left: -10000px;
    z-index: -1;
    border: 0px;
    border-style: none;

  }

  .pure-menu-top-border {
    position: relative ;
    top: 1px;
    height: 1px;
    left: $fullpageWidth/2;
    right: 0px;
    background-color: $hairline;
    margin: 0 auto;
    max-width:$fullpageWidth - 60;
    @media (min-width: $smallestWidth) and (max-width: $fullpageWidth - 1px) {
      max-width:$smallestWidth - 60;
      left: $smallestWidth/2;

    }
  }

  .pure-menu-column {

    > .pure-menu-list {
      width: 85%;

      a {
        display: block;
        padding: 7px 15px 7px 0;
        color: $white;
        font-weight: normal;
      }
    }

    h4 {
      margin: 0px 0 12px 0;
      color: $white;
    }

    li {
      border-bottom: $hairline solid 1px;
      border-radius: 0;
      border-left: none;
      border-right: none;
      padding: 0;

      &:first-child {
        border-top: $hairline solid 1px;
      }
    }
  }  

  .nav-right {
    position: absolute;
    right: 0;
  }

  .featurette {
    background-color: $blue;
    margin: 0 0 0 auto;
    position: relative;
    text-align: center;
    color: $white;
    white-space: normal;

    svg {
      fill: $white;
      height: 112px;
      width: 112px;
    }

    .featurette-wrapper {
      padding: 15px 15px 25px;
      height:312px;
      border: 1px solid darken($navy, 10)
    }

    p {
      font-size: 14px;
      font-weight: normal;
      margin: 0;
    }
    a {
      color: $white;
      font-weight: bold;
    }
    a:hover {
      text-decoration: underline;
      background-color: inherit;
    }
    h4, h5 {
      color: $white;
      font-size: 14px;
      line-height: 15px;
      margin: 12px 0px;
    }
    hr {
      margin: 12px -15px;
      opacity: 0.2;
    }
    &[onclick] {
      cursor: pointer;
    }

    .secondary {
      font-weight: normal;
    }
  }


}


body.nav-open {
  overflow-x: hidden;
}



// adding aura to header
.aura-bg {
  position: relative;
  svg#Final_Auras {
    position: absolute;
    @media (min-width:$smallestWidth) {
        width: 8vw;
        
    }
    @media (min-width:930px) {
        width: 10vw
    }
    @media (min-width:1500px) {
        width: 7vw;

    }

}  

}





    