$fullpageWidth: 992px;
$smallestWidth: 768px;
$footerBreakpoint: 768px;
$mobileNavTwoLineBreakpoint: 320px;
$mobileNavHeight: 55px;
$mobileNavTwoLineHeight: 100px;
$font-family-sans-serif: CircularPro, Atlas, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$btn-default-border: #ccc;
$white: #fff;
$snow: $white;
$navy: #01426a;
$teal: #b3d57d;
$marine: $teal;
$brown: #4d3524;
$bark: $brown;
$green: #48850b;// old green #358f43;
$leaf: $green;
$tan: #b7af9b;
$stone: $tan;
$cream: #e9e5dd;
$whitesand: $cream;
$sand: $whitesand;
$lightersand: #f4f2ef;//Lighter variant of sand (used in footer)
$error: #a00;
$aqua: #48A9C5;
$seaglass: $aqua;
$sea: $aqua;
$gold: #d47f2f; //changing to orangge
$wheat: $gold;
$plum: #cb391f; /*red*/
$raisin: $plum;
$wine: $plum;
$pink: #cb391f;
$berry: $pink;
$blue: #2774ae;
$ocean: $blue;
$orange: #d47f2f;// offical orange is #e37d38 but its not accesible on white
$sunset: $orange;
$black: #000;

//## Gray and brand colors for use across Bootstrap.
$gray-darkest: #212223;
$gray-darker:           #3c3b3f; // #222
$gray-dark: #656565;   // #333
$gray: #c8c9c7;   // #666
$gray-light: #e9e9e9; // #777
$gray-lighter: #eee;   // #a6a6a6

$gray-lightest: #f5f5f5;
$gray-disabled: lighten($black, 85.5%); // #dadada

$hairline: #284e73;
$gray-lightish: lighten($black, 75%);	 // #bfbfbf
