@import url(./css-lib/pure-release-0.6.0/pure-min.css);
@import url(./css-lib/pure-release-0.6.0/grids-responsive.css);
footer {
  display: block; }

[hidden] {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

b {
  font-weight: 700; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

button,
input {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button {
  text-transform: none; }

button {
  -webkit-appearance: button;
  cursor: pointer; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

.hidden,
[hidden] {
  display: none !important; }

.pure-g {
  letter-spacing: -.31em;
  *letter-spacing: normal;
  *word-spacing: -.43em;
  text-rendering: optimizespeed;
  font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  -ms-align-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start; }

.opera-only :-o-prefocus,
.pure-g {
  word-spacing: -.43em; }

.pure-g [class*="pure-u"] {
  font-family: sans-serif; }

.pure-u-1,
.pure-u-1-2,
.pure-u-1-4 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }

.pure-u-1-4 {
  width: 25%;
  *width: 24.969%; }

.pure-u-1-2 {
  width: 50%;
  *width: 49.969%; }

.pure-u-1 {
  width: 100%; }

.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.pure-button-hidden {
  display: none; }

.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.pure-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pure-menu-list,
.pure-menu-item {
  position: relative; }

.pure-menu-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.pure-menu-item {
  padding: 0;
  margin: 0;
  height: 100%; }

.pure-menu-link {
  display: block;
  text-decoration: none;
  white-space: nowrap; }

.pure-menu-horizontal {
  width: 100%;
  white-space: nowrap; }

.pure-menu-horizontal .pure-menu-list {
  display: inline-block; }

.pure-menu-horizontal .pure-menu-item {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle; }

.pure-menu-item .pure-menu-item {
  display: block; }

.pure-menu-children {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 3; }

.pure-menu-horizontal .pure-menu-children {
  left: 0;
  top: auto;
  width: inherit; }

.pure-menu-active > .pure-menu-children {
  display: block;
  position: absolute; }

.pure-menu-has-children > .pure-menu-link:after {
  padding-left: .5em;
  content: "\25B8";
  font-size: small; }

.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
  content: "\25BE"; }

.pure-menu-link {
  color: #777; }

.pure-menu-children {
  background-color: #fff; }

.pure-menu-link {
  padding: 0.5em 0em; }

.pure-menu-active > .pure-menu-link,
.pure-menu-link:hover,
.pure-menu-link:focus {
  background-color: #eee; }

.pure-menu-selected .pure-menu-link,
.pure-menu-selected .pure-menu-link:visited {
  color: #000; }

/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
@media screen and (min-width: 48em) {
  .pure-u-md-1-3,
  .pure-u-md-1-4 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .pure-u-md-1-4 {
    width: 25%;
    *width: 24.9690%; }
  .pure-u-md-1-3 {
    width: 33.3333%;
    *width: 33.3023%; } }

/*red*/
.cart-count {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
  background-color: #48850b; }

@font-face {
  font-family: 'Atlas';
  src: url("//resource.alaskaair.net/stylesheets/atlas/AtlasGrotesk-Light-Web.eot");
  src: url("//resource.alaskaair.net/stylesheets/atlas/AtlasGrotesk-Light-Web.eot?#iefix") format("embedded-opentype"), url("//resource.alaskaair.net/stylesheets/atlas/AtlasGrotesk-Light-Web.woff") format("woff"), url("//resource.alaskaair.net/stylesheets/atlas/AtlasGrotesk-Light-Web.ttf") format("truetype"), url("//resource.alaskaair.net/stylesheets/atlas/AtlasGrotesk-Light-Web.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Atlas';
  src: url("//resource.alaskaair.net/stylesheets/atlas/AtlasGrotesk-Medium-Web.eot");
  src: url("//resource.alaskaair.net/stylesheets/atlas/AtlasGrotesk-Medium-Web.eot?#iefix") format("embedded-opentype"), url("//resource.alaskaair.net/stylesheets/atlas/AtlasGrotesk-Medium-Web.woff") format("woff"), url("//resource.alaskaair.net/stylesheets/atlas/AtlasGrotesk-Medium-Web.ttf") format("truetype"), url("//resource.alaskaair.net/stylesheets/atlas/AtlasGrotesk-Medium-Web.svg") format("svg");
  font-weight: bold;
  font-style: normal; }

.hf-top {
  position: relative;
  margin: 0 auto;
  max-width: 992px;
  width: 100%;
  font-size: 14px;
  height: 65px;
  padding: 5px 15px 15px 15px; }
  .hf-top .arrow-up {
    position: absolute;
    left: 139px;
    top: -10px;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; }
  .hf-top .arrow-up-border {
    position: absolute;
    left: 138px;
    top: -11px;
    border-bottom: 11px solid #fff;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent; }
  .hf-top > ul {
    float: right; }
    .hf-top > ul > li {
      vertical-align: top; }
      .hf-top > ul > li > a {
        padding: 13px 15px;
        color: #fff;
        text-transform: uppercase; }
  .hf-top .pure-menu-link {
    background-color: transparent; }
  .hf-top .arrow-down {
    border-top: 7px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 12px;
    margin-left: 5px;
    position: relative; }
  .hf-top .pers-menu {
    list-style-type: none;
    padding: 0; }
    .hf-top .pers-menu a {
      display: block;
      font-size: 1.1em;
      margin-bottom: 2px;
      margin-top: 1px;
      padding: 6px 0;
      width: 100%; }
  .hf-top .navbar-greeting-popup {
    background-color: #c8c9c7;
    padding: 20px;
    border: 1px solid #c8c9c7;
    color: #212223;
    width: 300px;
    line-height: 22px;
    font-size: 14px;
    left: -150px;
    margin-left: 50%; }
    .hf-top .navbar-greeting-popup a {
      color: #2774ae;
      text-decoration: underline; }

#skip-to-main-content {
  position: absolute;
  text-align: center;
  width: 100%; }

.header-logo {
  height: 40px;
  margin: 0 18px 0 0; }
  .header-logo:hover {
    background-color: transparent; }

#hf-h {
  margin-bottom: 24px;
  background-color: #01426a;
  color: #fff; }

#hf-nav {
  font-size: 14px;
  line-height: 24px;
  position: relative;
  margin: 0 auto;
  max-width: 768px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  height: 75px; }
  @media (min-width: 992px) {
    #hf-nav {
      max-width: 992px; } }
  #hf-nav .pure-menu-children.pure-g {
    width: 100%;
    padding: 0px 0 0 30px;
    background-color: transparent;
    top: 91px; }
  #hf-nav .pure-menu-item {
    vertical-align: top; }
  #hf-nav .pure-menu-link {
    background-color: transparent; }
  #hf-nav > .pure-menu-list {
    width: 100%;
    height: 100%; }
    #hf-nav > .pure-menu-list > .pure-menu-item {
      padding-top: 12px;
      padding-left: 20px;
      padding-right: 20px; }
      @media (min-width: 768px) {
        #hf-nav > .pure-menu-list > .pure-menu-item {
          padding-right: .445vw;
          padding-left: .445vw; } }
      #hf-nav > .pure-menu-list > .pure-menu-item:first-child {
        padding-top: 0px; }
        #hf-nav > .pure-menu-list > .pure-menu-item:first-child a {
          padding-left: 0px; }
      #hf-nav > .pure-menu-list > .pure-menu-item.pure-menu-active > a {
        color: #fff;
        border-bottom: 4px solid #fff; }
      #hf-nav > .pure-menu-list > .pure-menu-item > a {
        border-bottom: 4px solid transparent;
        color: #fff;
        margin-bottom: 0;
        padding-bottom: 5px; }
        #hf-nav > .pure-menu-list > .pure-menu-item > a:hover, #hf-nav > .pure-menu-list > .pure-menu-item > a:focus {
          background-color: transparent;
          transition: all 0.3s ease;
          text-decoration: none;
          border-bottom: 4px solid #fff; }
  #hf-nav h4 {
    font-size: 18px; }
  #hf-nav a.pure-menu-link {
    font-weight: bold;
    padding-left: .2vw;
    padding-right: .2vw; }
    @media (min-width: 768px) {
      #hf-nav a.pure-menu-link {
        font-size: 19px;
        font-size: 2vw;
        padding-right: .445vw;
        padding-left: .445vw; } }
    @media (min-width: 991px) {
      #hf-nav a.pure-menu-link {
        font-size: 20px;
        padding-left: 18px;
        padding-right: 18px; } }
    #hf-nav a.pure-menu-link svg {
      width: 10vw; }
  #hf-nav .pure-menu-children {
    position: absolute;
    margin-top: 1px; }
  #hf-nav .pure-menu-item {
    position: static; }
  #hf-nav .pure-menu-background {
    background: #01426a;
    position: absolute;
    height: 210px;
    width: 20000px;
    top: -24px;
    left: -10000px;
    z-index: -1;
    border: 0px;
    border-style: none; }
  #hf-nav .pure-menu-top-border {
    position: relative;
    top: 1px;
    height: 1px;
    left: 496px;
    right: 0px;
    background-color: #284e73;
    margin: 0 auto;
    max-width: 932px; }
    @media (min-width: 768px) and (max-width: 991px) {
      #hf-nav .pure-menu-top-border {
        max-width: 708px;
        left: 384px; } }
  #hf-nav .pure-menu-column > .pure-menu-list {
    width: 85%; }
    #hf-nav .pure-menu-column > .pure-menu-list a {
      display: block;
      padding: 7px 15px 7px 0;
      color: #fff;
      font-weight: normal; }
  #hf-nav .pure-menu-column h4 {
    margin: 0px 0 12px 0;
    color: #fff; }
  #hf-nav .pure-menu-column li {
    border-bottom: #284e73 solid 1px;
    border-radius: 0;
    border-left: none;
    border-right: none;
    padding: 0; }
    #hf-nav .pure-menu-column li:first-child {
      border-top: #284e73 solid 1px; }
  #hf-nav .nav-right {
    position: absolute;
    right: 0; }
  #hf-nav .featurette {
    background-color: #2774ae;
    margin: 0 0 0 auto;
    position: relative;
    text-align: center;
    color: #fff;
    white-space: normal; }
    #hf-nav .featurette svg {
      fill: #fff;
      height: 112px;
      width: 112px; }
    #hf-nav .featurette .featurette-wrapper {
      padding: 15px 15px 25px;
      height: 312px;
      border: 1px solid #012337; }
    #hf-nav .featurette p {
      font-size: 14px;
      font-weight: normal;
      margin: 0; }
    #hf-nav .featurette a {
      color: #fff;
      font-weight: bold; }
    #hf-nav .featurette a:hover {
      text-decoration: underline;
      background-color: inherit; }
    #hf-nav .featurette h4, #hf-nav .featurette h5 {
      color: #fff;
      font-size: 14px;
      line-height: 15px;
      margin: 12px 0px; }
    #hf-nav .featurette hr {
      margin: 12px -15px;
      opacity: 0.2; }
    #hf-nav .featurette[onclick] {
      cursor: pointer; }
    #hf-nav .featurette .secondary {
      font-weight: normal; }

body.nav-open {
  overflow-x: hidden; }

.aura-bg {
  position: relative; }
  .aura-bg svg#Final_Auras {
    position: absolute; }
    @media (min-width: 768px) {
      .aura-bg svg#Final_Auras {
        width: 8vw; } }
    @media (min-width: 930px) {
      .aura-bg svg#Final_Auras {
        width: 10vw; } }
    @media (min-width: 1500px) {
      .aura-bg svg#Final_Auras {
        width: 7vw; } }

.hf-signin-form {
  font-size: 14px; }
  .hf-signin-form .form-group {
    padding-bottom: 0px;
    margin-bottom: 0px; }
  .hf-signin-form .form-control {
    display: block;
    width: 100%;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 1.72857;
    color: #01426a;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .hf-signin-form label {
    margin-bottom: 5px;
    display: block; }
  .hf-signin-form .btn {
    display: block;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 40px;
    font-size: 14px;
    line-height: 1.72857;
    border-radius: 2px;
    text-transform: uppercase;
    width: 100%; }
    .hf-signin-form .btn[disabled] {
      opacity: .65; }
  .hf-signin-form .btn-primary, .hf-signin-form .btn-green, .hf-signin-form .btn-success {
    color: #fff;
    background-color: #48850b;
    border-color: #48850b; }
  .hf-signin-form a {
    float: right;
    padding: 2px 2px 2px 5px;
    margin: 1px;
    font-size: .85em;
    padding-bottom: 2px;
    display: block; }
  .hf-signin-form div {
    overflow: hidden;
    padding-bottom: 5px; }
  .hf-signin-form .radio {
    margin: 14px 0;
    padding-bottom: 0; }
    .hf-signin-form .radio label {
      display: block;
      height: 22px;
      line-height: 17px; }
    .hf-signin-form .radio input {
      margin-top: 2px; }
  .hf-signin-form .checkbox {
    margin-bottom: 10px;
    padding-bottom: 0; }
    .hf-signin-form .checkbox label {
      margin-bottom: 0;
      line-height: 17px; }
    .hf-signin-form .checkbox input {
      margin-bottom: 10px;
      padding-bottom: 0; }
  .hf-signin-form input {
    position: relative;
    display: inline-block;
    margin-right: 3px; }
  .hf-signin-form .arrow-up-outer {
    position: absolute;
    top: -11px;
    left: 138px; }
  .hf-signin-form .arrow-up-sand {
    position: absolute;
    top: -10px;
    left: 139px; }
  .hf-signin-form label {
    font-weight: normal; }
  .hf-signin-form a {
    color: #c8c9c7;
    text-decoration: underline; }

.hf-nav-mobile {
  border-bottom: solid 1px #eeeeee;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 55px;
  z-index: 499;
  vertical-align: middle;
  padding: 10px 0;
  font-size: 14px;
  color: #c8c9c7;
  line-height: normal; }
  .hf-nav-mobile .svgtext {
    font-weight: bold;
    font-size: 9px;
    text-transform: uppercase;
    color: #01426a;
    position: relative;
    top: -4px; }
  .hf-nav-mobile button span.svgtext {
    top: -1px; }
  .hf-nav-mobile .show-if-super-user {
    margin-right: 10px; }
    .hf-nav-mobile .show-if-super-user .svgtext {
      left: -5px;
      letter-spacing: -.4px;
      top: -3px; }
  .hf-nav-mobile svg.icon-search {
    width: 25px;
    height: 25px;
    position: relative;
    top: -2px; }
  .hf-nav-mobile .navMobileCart .svgtext {
    left: 2px; }
  .hf-nav-mobile .pure-menu-horizontal {
    display: inline-block;
    width: auto;
    float: right; }
  .hf-nav-mobile .hf-nav-top > li {
    margin-left: 10px; }
  .hf-nav-mobile .mobile-logo {
    height: 31px;
    margin: 0 15px; }
  .hf-nav-mobile .cart-count {
    position: absolute;
    left: 20px;
    top: -4px; }
  .hf-nav-mobile .hf-nav-mobile-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    padding-top: 10px;
    margin-left: 10px;
    margin-top: -10px; }
  .hf-nav-mobile .hamburger-bar {
    height: 3px;
    background-color: #01426a;
    width: 28px;
    color: #01426a;
    margin: 4px 10px 0 10px;
    display: block;
    border-radius: 1px;
    fill: #01426a; }
    .hf-nav-mobile .hamburger-bar:last-of-type {
      margin-bottom: 4px; }
  .hf-nav-mobile .icon-fallback {
    display: none; }
  .hf-nav-mobile svg {
    height: 28px;
    width: 28px;
    fill: #01426a; }
    .hf-nav-mobile svg:hover {
      fill: #01426a; }

li.pure-menu-item a:hover {
  text-decoration: none; }

.nav-mobile-menu {
  position: fixed;
  width: 300px;
  z-index: 499;
  top: 55px;
  right: -300px;
  font-size: 17.5px;
  line-height: 1.72857;
  background-color: #f4f2ef;
  height: 100%;
  border-left: 1px solid #284e73;
  transition: 0.4s;
  overflow-y: auto; }
  .nav-mobile-menu.open {
    right: 0; }
  .nav-mobile-menu a:hover, .nav-mobile-menu a:focus {
    text-decoration: none; }
  .nav-mobile-menu .pure-menu-item {
    margin-left: 0; }
  .nav-mobile-menu .pure-menu-list > li {
    background-color: #e9e5dd;
    border-bottom: 1px solid #284e73; }
    .nav-mobile-menu .pure-menu-list > li > a {
      display: block;
      padding: 10px 15px;
      color: #01426a; }
  .nav-mobile-menu .pure-menu-children {
    left: auto;
    position: relative; }
    .nav-mobile-menu .pure-menu-children li {
      list-style-type: none; }
      .nav-mobile-menu .pure-menu-children li > a {
        padding: 15px;
        display: block;
        border-top: 1px solid #284e73;
        color: #01426a;
        font-size: 14px; }
  .nav-mobile-menu .pure-menu-link:hover, .nav-mobile-menu .pure-menu-link:focus, .nav-mobile-menu .pure-menu-active > .pure-menu-link {
    background-color: #e9e5dd; }
  .nav-mobile-menu .right-arrow {
    font-weight: bold;
    position: absolute;
    right: 0;
    margin-right: 20px; }
  .nav-mobile-menu .navbar-greeting-popup {
    background-color: #fff;
    border: none;
    padding: 15px; }

@media (max-width: 767px) {
  #hf-nav-mobile {
    display: block; }
  body {
    margin-top: 55px; }
  #hf-top {
    display: none; } }

@media (max-width: 319px) {
  .hf-nav-mobile {
    height: 100px; }
  .nav-mobile-menu {
    top: 100px; }
  body {
    margin-top: 100px; } }

@media (min-width: 768px) and (max-width: 991px) {
  #hf-nav-mobile {
    display: none; }
  #hf-nav .featurette {
    display: none; } }

@media (min-width: 992px) {
  #hf-nav-mobile {
    display: none; }
  .pure-u-1-4 {
    width: 25%;
    *width: 24.969%; } }

.header-logo {
  margin-right: 0; }

@media (min-width: 768px) and (max-width: 991px) {
  .header-logo {
    margin-right: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .nav-right {
    position: initial; }
    .nav-right .last {
      padding-right: initial !important; } }

.show-if-signed-in-true, .show-if-signed-in-false {
  display: none; }

.signed-in-true .show-if-signed-in-true {
  display: block; }

.signed-in-false .show-if-signed-in-false {
  display: block; }

.signed-in-true .show-if-signed-in-true-inline {
  display: inline-block; }

.signed-in-false .show-if-signed-in-false-inline {
  display: inline-block; }

.hf-f {
  background-color: #01426a;
  color: #fff; }
  .hf-f .icon-fallback {
    display: none; }
  .hf-f footer {
    padding: 20px 0; }
  .hf-f .fine-print {
    color: #fff; }
  .hf-f .pure-g {
    max-width: 970px;
    margin: 0px auto;
    padding: 0 15px; }
  .hf-f a {
    color: #fff;
    font-size: 12px;
    line-height: 2.5em; }
  .hf-f h5, .hf-f h5 a, .hf-f .navBlog {
    color: #fff;
    font-size: 14px;
    line-height: 15px; }
  .hf-f h5 {
    margin: 12px 0; }
  .hf-f .social-icons {
    margin-top: 17px; }
  .hf-f .copyright {
    font-size: 11px;
    margin-top: 20px; }
  .hf-f .footerLists {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px; }
  .hf-f [class^=icon-], .hf-f [class*=icon-] {
    width: 24px;
    height: 24px;
    fill: #fff; }
  .hf-f .footer-headlines a {
    cursor: default;
    position: relative; }
    .hf-f .footer-headlines a:hover {
      text-decoration: none; }
    .hf-f .footer-headlines a svg {
      display: none;
      position: absolute;
      right: 0px;
      top: 6px; }
  .hf-f .hf-products {
    margin-top: 24px;
    padding-top: 48px;
    background-color: #f5f5f5;
    color: #656565; }
    .hf-f .hf-products .text-center {
      text-align: center; }
    .hf-f .hf-products [class^=icon-], .hf-f .hf-products [class*=icon-] {
      fill: #656565;
      width: 64px;
      height: 64px; }
    .hf-f .hf-products a {
      color: #656565; }
    .hf-f .hf-products a:hover {
      text-decoration: none; }
      .hf-f .hf-products a:hover [class^=icon-], .hf-f .hf-products a:hover [class*=icon-] {
        fill: #656565; }
    .hf-f .hf-products h4 {
      font-size: 18px;
      font-weight: bold;
      color: #656565;
      margin: 0px; }
    .hf-f .hf-products .btn-link {
      color: #656565;
      font-size: 14px;
      font-weight: bold; }
    .hf-f .hf-products .btn-link:hover {
      text-decoration: underline; }
    .hf-f .hf-products p {
      font-size: 14px;
      padding: 0 24px;
      line-height: 24px;
      margin: 4px auto; }
    .hf-f .hf-products .pure-g {
      padding: 0 15px; }
      .hf-f .hf-products .pure-g > div {
        padding-bottom: 24px;
        border-bottom: 0px solid #284e73; }

@media (max-width: 768px) {
  .hf-f .hf-products p {
    width: auto;
    padding: 0 12px; }
  .hf-f .hf-products .hf-secondrow {
    margin-top: 80px; }
  .hf-f .hf-products .pure-g {
    padding-bottom: 24px; }
    .hf-f .hf-products .pure-g > div {
      padding-bottom: 0px;
      border-bottom: none; }
  .hf-f .footer-headlines a {
    cursor: pointer;
    display: block;
    border-bottom: 1px solid #284e73;
    padding: 10px 15px 10px 0; }
  .hf-f .footer-headlines .expanded-hide {
    display: none; }
  .hf-f .footer-headlines.collapsed .expanded-show {
    display: none; }
  .hf-f .footer-headlines.collapsed .expanded-hide {
    display: inline-block; }
  .hf-f .footer-headlines a svg {
    display: block; }
  .hf-f .panel-collapsable.collapse {
    display: none; } }

.hf,
.hf * {
  box-sizing: border-box; }

.pure-menu, .pure-g, .pure-g [class*="pure-u"] {
  font-family: CircularPro, Atlas, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.hf a {
  text-decoration: none; }
  .hf a:hover {
    text-decoration: underline; }

.hf .no-hover-underline:hover,
.hf .no-hover-underline:focus {
  border: none !important; }

.hf .last {
  padding-right: 0 !important; }

.hf .pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
  content: none; }

.hf .hidden {
  display: none; }

.hf .pure-menu-has-children > .pure-menu-link:after {
  content: none; }

.hf .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.hf .sr-only-focusable:active, .hf .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.show-if-super-user {
  display: none !important; }

.super-user .show-if-super-user {
  display: inline-block !important; }

.is-canada .hide-if-canada, .show-if-canada {
  display: none !important; }

.is-canada .show-if-canada {
  display: inline !important; }

@media print {
  #hf-h {
    border-bottom: none; }
  #hf-top {
    display: none; }
  #hf-nav .nav-right, #hf-nav .pure-menu-has-children {
    display: none; }
  #navMobileCart {
    display: none; }
  .hf-products {
    display: none; }
  .no-print {
    display: none; }
  footer .pure-g {
    display: none; }
  footer .copyright {
    display: block; } }
