@font-face {
    font-family: 'Atlas';
    src: url('//resource.alaskaair.net/stylesheets/atlas/AtlasGrotesk-Light-Web.eot');
    src: url('//resource.alaskaair.net/stylesheets/atlas/AtlasGrotesk-Light-Web.eot?#iefix') format('embedded-opentype'),
         url('//resource.alaskaair.net/stylesheets/atlas/AtlasGrotesk-Light-Web.woff') format('woff'),
         url('//resource.alaskaair.net/stylesheets/atlas/AtlasGrotesk-Light-Web.ttf') format('truetype'),
         url('//resource.alaskaair.net/stylesheets/atlas/AtlasGrotesk-Light-Web.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Atlas';
    src: url('//resource.alaskaair.net/stylesheets/atlas/AtlasGrotesk-Medium-Web.eot');
    src: url('//resource.alaskaair.net/stylesheets/atlas/AtlasGrotesk-Medium-Web.eot?#iefix') format('embedded-opentype'),
         url('//resource.alaskaair.net/stylesheets/atlas/AtlasGrotesk-Medium-Web.woff') format('woff'),
         url('//resource.alaskaair.net/stylesheets/atlas/AtlasGrotesk-Medium-Web.ttf') format('truetype'),
         url('//resource.alaskaair.net/stylesheets/atlas/AtlasGrotesk-Medium-Web.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
